In [7]:
import pandas as pd

In [8]:
sp500_companies_path = "sp500_companies.csv"
sp500_path = "SP500.csv"
sp500_stocks_path = "sp500_stocks_source.csv"
sp500_constituents_path ="sp500-constituents.csv"
sp500_index_path = "Stocks in the SP 500 Index.csv"
NASDAQ_100_path = "NASDAQ_100.csv"

In [9]:
sp500_companies = pd.read_csv(sp500_companies_path)
sp500 = pd.read_csv(sp500_path)
sp500_stocks = pd.read_csv(sp500_stocks_path)
sp500_constituents = pd.read_csv(sp500_constituents_path)
sp500_index = pd.read_csv(sp500_index_path)
NASDAQ_100 = pd.read_csv(NASDAQ_100_path)

In [ ]:
#Dependencies

In [11]:
sp500_companies

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,137.87,2183336820736,1.305410e+11,0.081,Cupertino,CA,United States,164000.0,"Apple Inc. designs, manufactures, and markets ...",0.061551
1,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software—Infrastructure,240.22,1803566972928,9.798300e+10,0.124,Redmond,WA,United States,221000.0,"Microsoft Corporation develops, licenses, and ...",0.050845
2,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,99.28,1276343746560,9.373300e+10,0.061,Mountain View,CA,United States,186779.0,Alphabet Inc. provides various products and pl...,0.035982
3,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,98.02,1276337979392,9.373300e+10,0.061,Mountain View,CA,United States,186779.0,Alphabet Inc. provides various products and pl...,0.035981
4,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,97.25,992115359744,5.154900e+10,0.147,Seattle,WA,United States,1544000.0,"Amazon.com, Inc. engages in the retail sale of...",0.027969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,NYQ,NCLH,Norwegian Cruise Line Holdings,Norwegian Cruise Line Holdings Ltd.,Consumer Cyclical,Travel Services,15.45,6440981504,-1.684442e+09,270.791,Miami,FL,United States,34700.0,"Norwegian Cruise Line Holdings Ltd., together ...",0.000182
491,NMS,NWL,Newell Brands Inc.,Newell Brands Inc.,Consumer Defensive,Household & Personal Products,15.05,6402270208,1.390000e+09,-0.065,Atlanta,GA,United States,32000.0,"Newell Brands Inc. designs, manufactures, sour...",0.000180
492,NYQ,ALK,"Alaska Air Group, Inc.","Alaska Air Group, Inc.",Industrials,Airlines,49.82,6319069184,1.092000e+09,0.448,Seattle,WA,United States,22354.0,"Alaska Air Group, Inc., through its subsidiari...",0.000178
493,NYQ,LNC,Lincoln National Corporation,Lincoln National Corporation,Financial Services,Insurance—Life,31.75,5737510400,1.422000e+09,0.052,Radnor,PA,United States,10848.0,"Lincoln National Corporation, through its subs...",0.000162
494,NYQ,LUMN,"Lumen Technologies, Inc.","Lumen Technologies, Inc.",Communication Services,Telecom Services,5.22,5344705536,7.419000e+09,-0.063,Monroe,LA,United States,35000.0,"Lumen Technologies, Inc., a facilities-based t...",0.000151

In [12]:
sp500

,date,open,high,low,close,volume,change_percent,avg_vol_20d
0,19271230,17.6600,17.6600,17.6600,17.6600,0,NaN,NaN
1,19280103,17.7600,17.7600,17.7600,17.7600,0,0.57,NaN
2,19280104,17.7200,17.7200,17.7200,17.7200,0,-0.23,NaN
3,19280105,17.5500,17.5500,17.5500,17.5500,0,-0.96,NaN
4,19280106,17.6600,17.6600,17.6600,17.6600,0,0.63,NaN
...,...,...,...,...,...,...,...,...
23878,20230123,3978.1399,4039.3101,3971.6399,4019.8101,3945210000,1.19,3.819714e+09
23879,20230124,4001.7400,4023.9199,3989.7900,4016.9500,3320430000,-0.07,3.787888e+09
23880,20230125,3982.7100,4019.5500,3949.0601,4016.2200,3724020000,-0.02,3.833126e+09
23881,20230126,4036.0801,4061.5701,4013.2900,4060.4299,3809590000,1.10,3.872090e+09
23882,20230127,4053.7200,4094.2100,4048.7000,4070.5601,3907760000,0.25,3.913302e+09

In [13]:
sp500_stocks

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04 00:00:00-05:00,MMM,59.318886,83.019997,83.449997,82.669998,83.089996,3043700.0
1,2010-01-05 00:00:00-05:00,MMM,58.947342,82.500000,83.230003,81.699997,82.800003,2847000.0
2,2010-01-06 00:00:00-05:00,MMM,59.783295,83.669998,84.599998,83.510002,83.879997,5268500.0
3,2010-01-07 00:00:00-05:00,MMM,59.826176,83.730003,83.760002,82.120003,83.320000,4470100.0
4,2010-01-08 00:00:00-05:00,MMM,60.247749,84.320000,84.320000,83.300003,83.690002,3405800.0
...,...,...,...,...,...,...,...,...
1652350,2023-01-13 00:00:00-05:00,ZTS,160.919998,160.919998,161.399994,158.380005,158.580002,2466800.0
1652351,2023-01-17 00:00:00-05:00,ZTS,159.570007,159.570007,162.380005,159.009995,160.690002,3349900.0
1652352,2023-01-18 00:00:00-05:00,ZTS,159.970001,159.970001,162.339996,159.520004,160.419998,2738100.0
1652353,2023-01-19 00:00:00-05:00,ZTS,161.949997,161.949997,163.160004,158.710007,159.190002,2907700.0
1652354,2023-01-20 00:00:00-05:00,ZTS,163.809998,163.809998,164.940002,162.080002,162.869995,4856000.0

In [14]:
sp500_constituents

,Ticker,Name,Industry,Sub-Industry,Headquarters Location,Date added
0,A,Agilent Technologies,Health Care,Health Care Equipment,"Santa Clara, California",6/5/2000
1,AAL,American Airlines Group,Industrials,Airlines,"Fort Worth, Texas",3/23/2015
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",7/9/2015
3,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",11/30/1982
4,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",12/31/2012
...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",10/6/1997
499,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",8/7/2001
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",12/23/2019
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",6/22/2001
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",6/21/2013

In [15]:
sp500_index

,Symbol,Description,Category2,Category3,GICS Sector,Market cap,Dividend yield,Price to TTM earnings,Price to TTM sales,Price to book value,Action
0,AAPL,Apple Inc,Common stocks,Large cap,Information Technology,"$2,279,781,223,480",0.63%,20.94,5.91,31.66,Analyze
1,MSFT,Microsoft Corp,Common stocks,Large cap,Information Technology,"$1,846,063,276,184",1.02%,24.87,9.59,11.06,Analyze
2,GOOG,Alphabet Inc Class C,Common stocks,Large cap,Communication Services,"$1,185,974,720,000",0.00%,7.58,4.39,2.22,Analyze
3,GOOGL,Alphabet Inc Class A,Common stocks,Large cap,Communication Services,"$1,185,974,720,000",0.00%,7.38,4.39,2.17,Analyze
4,AMZN,Amazon.Com Inc.,Common stocks,Large cap,Consumer Discretionary,"$1,012,208,127,343",0.00%,46.75,2.12,7.47,Analyze
...,...,...,...,...,...,...,...,...,...,...,...
498,LNC,Lincoln National Corp,Common stocks,Mid cap,Financials,"$5,601,031,858",5.34%,4.36,0.29,0.38,Analyze
499,LUMN,"CenturyLink, Inc.",Common stocks,Mid cap,Communication Services,"$5,317,755,813",14.27%,2.47,0.28,0.43,Analyze
500,TECH,Bio-Techne Corp,Common stocks,Mid cap,Health Care,"$3,151,948,283",0.40%,13.97,2.93,1.84,Analyze
501,TAP,Molson Coors Brewing Class B,Common stocks,Small cap,Consumer Staples,"$766,957,509",2.85%,0.55,0.06,0.04,Analyze
502,GEHC,GE HealthCare Technologies Inc.,Common stocks,Unknown,Health Care,$0,0.00%,0.00,0.00,0.00,Analyze

In [16]:
NASDAQ_100

,date,open,high,low,close,volume,change_percent,avg_vol_20d
0,19850925,111.1750,111.1750,111.1750,111.1750,0,NaN,NaN
1,19850926,110.6400,110.6400,110.6400,110.6400,0,-0.48,NaN
2,19850927,110.6400,110.6400,110.6400,110.6400,0,0.00,NaN
3,19850930,110.6200,110.6200,110.6200,110.6200,0,-0.02,NaN
4,19851001,112.1400,112.1400,112.1400,112.1400,0,1.37,NaN
...,...,...,...,...,...,...,...,...
9403,20230123,11652.0000,11918.8604,11617.8301,11872.5400,5997810000,2.18,4.861774e+09
9404,20230124,11802.9502,11889.3701,11780.0703,11846.6396,5670860000,-0.22,4.889063e+09
9405,20230125,11636.0098,11841.8096,11550.0703,11814.6904,5485570000,-0.27,4.986108e+09
9406,20230126,11972.5703,12055.8096,11853.3701,12051.4805,5732890000,2.00,5.081388e+09
9407,20230127,12000.2100,12248.1504,11999.8701,12166.5996,6243800000,0.96,5.201429e+09

In [45]:
#Raw Data Reads

In [119]:
sp500_companies["Sector"].value_counts()

Technology                71
Industrials               71
Financial Services        68
Healthcare                64
Consumer Cyclical         57
Consumer Defensive        36
Real Estate               31
Utilities                 30
Energy                    23
Communication Services    22
Basic Materials           22
Name: Sector, dtype: int64

In [18]:
sp500_constituents["Industry"].value_counts()

Information Technology    76
Industrials               70
Financials                67
Health Care               64
Consumer Discretionary    56
Consumer Staples          33
Utilities                 30
Real Estate               30
Materials                 29
Communication Services    25
Energy                    23
Name: Industry, dtype: int64

In [49]:
sp500_companies_market_cap_mean = sp500_companies["Marketcap"].mean()
sp500_companies_market_cap_median = sp500_companies["Marketcap"].median()

In [50]:
sp500_companies_market_cap_mean

71660874697.1798

In [51]:
sp500_companies_market_cap_median

30815211520.0

In [20]:
top_market_cap_sp500_index = sp500_index.sort_values(by = "Market cap", ascending =False)

In [35]:
top_market_cap_sp500_index

,Symbol,Description,Category2,Category3,GICS Sector,Market cap,Dividend yield,Price to TTM earnings,Price to TTM sales,Price to book value,Action
80,EL,Estee Lauder Inc Class A,Common stocks,Large cap,Consumer Staples,"$97,512,218,000",0.90%,29.06,5.38,15.86,Analyze
81,AMAT,Applied Material Inc,Common stocks,Large cap,Information Technology,"$97,442,979,859",0.88%,13.72,3.92,8.01,Analyze
82,CB,Chubb Ltd,Common stocks,Large cap,Financials,"$95,922,268,824",1.42%,11.68,2.36,1.69,Analyze
83,CI,Cigna Corp,Common stocks,Large cap,Health Care,"$95,757,456,053",1.43%,17.78,0.54,2.08,Analyze
84,SYK,Stryker Corp,Common stocks,Large cap,Health Care,"$95,519,498,379",1.12%,47.40,5.48,6.35,Analyze
...,...,...,...,...,...,...,...,...,...,...,...
1,MSFT,Microsoft Corp,Common stocks,Large cap,Information Technology,"$1,846,063,276,184",1.02%,24.87,9.59,11.06,Analyze
3,GOOGL,Alphabet Inc Class A,Common stocks,Large cap,Communication Services,"$1,185,974,720,000",0.00%,7.38,4.39,2.17,Analyze
2,GOOG,Alphabet Inc Class C,Common stocks,Large cap,Communication Services,"$1,185,974,720,000",0.00%,7.58,4.39,2.22,Analyze
4,AMZN,Amazon.Com Inc.,Common stocks,Large cap,Consumer Discretionary,"$1,012,208,127,343",0.00%,46.75,2.12,7.47,Analyze
502,GEHC,GE HealthCare Technologies Inc.,Common stocks,Unknown,Health Care,$0,0.00%,0.00,0.00,0.00,Analyze

In [23]:
highest_five_market_cap_sp500_index = top_market_cap_sp500_index.head(5)

In [24]:
highest_five_market_cap_sp500_index

,Symbol,Description,Category2,Category3,GICS Sector,Market cap,Dividend yield,Price to TTM earnings,Price to TTM sales,Price to book value,Action
80,EL,Estee Lauder Inc Class A,Common stocks,Large cap,Consumer Staples,"$97,512,218,000",0.90%,29.06,5.38,15.86,Analyze
81,AMAT,Applied Material Inc,Common stocks,Large cap,Information Technology,"$97,442,979,859",0.88%,13.72,3.92,8.01,Analyze
82,CB,Chubb Ltd,Common stocks,Large cap,Financials,"$95,922,268,824",1.42%,11.68,2.36,1.69,Analyze
83,CI,Cigna Corp,Common stocks,Large cap,Health Care,"$95,757,456,053",1.43%,17.78,0.54,2.08,Analyze
84,SYK,Stryker Corp,Common stocks,Large cap,Health Care,"$95,519,498,379",1.12%,47.40,5.48,6.35,Analyze

In [28]:
low_market_cap_sp500_index = sp500_index.sort_values(by = "Market cap", ascending =True)

In [29]:
low_market_cap_sp500_index

,Symbol,Description,Category2,Category3,GICS Sector,Market cap,Dividend yield,Price to TTM earnings,Price to TTM sales,Price to book value,Action
502,GEHC,GE HealthCare Technologies Inc.,Common stocks,Unknown,Health Care,$0,0.00%,0.00,0.00,0.00,Analyze
4,AMZN,Amazon.Com Inc.,Common stocks,Large cap,Consumer Discretionary,"$1,012,208,127,343",0.00%,46.75,2.12,7.47,Analyze
2,GOOG,Alphabet Inc Class C,Common stocks,Large cap,Communication Services,"$1,185,974,720,000",0.00%,7.58,4.39,2.22,Analyze
3,GOOGL,Alphabet Inc Class A,Common stocks,Large cap,Communication Services,"$1,185,974,720,000",0.00%,7.38,4.39,2.17,Analyze
1,MSFT,Microsoft Corp,Common stocks,Large cap,Information Technology,"$1,846,063,276,184",1.02%,24.87,9.59,11.06,Analyze
...,...,...,...,...,...,...,...,...,...,...,...
84,SYK,Stryker Corp,Common stocks,Large cap,Health Care,"$95,519,498,379",1.12%,47.40,5.48,6.35,Analyze
83,CI,Cigna Corp,Common stocks,Large cap,Health Care,"$95,757,456,053",1.43%,17.78,0.54,2.08,Analyze
82,CB,Chubb Ltd,Common stocks,Large cap,Financials,"$95,922,268,824",1.42%,11.68,2.36,1.69,Analyze
81,AMAT,Applied Material Inc,Common stocks,Large cap,Information Technology,"$97,442,979,859",0.88%,13.72,3.92,8.01,Analyze
80,EL,Estee Lauder Inc Class A,Common stocks,Large cap,Consumer Staples,"$97,512,218,000",0.90%,29.06,5.38,15.86,Analyze

In [30]:
lowest_five_market_cap_sp500_index = low_market_cap_sp500_index.head(5)

In [31]:
lowest_five_market_cap_sp500_index

,Symbol,Description,Category2,Category3,GICS Sector,Market cap,Dividend yield,Price to TTM earnings,Price to TTM sales,Price to book value,Action
502,GEHC,GE HealthCare Technologies Inc.,Common stocks,Unknown,Health Care,$0,0.00%,0.00,0.00,0.00,Analyze
4,AMZN,Amazon.Com Inc.,Common stocks,Large cap,Consumer Discretionary,"$1,012,208,127,343",0.00%,46.75,2.12,7.47,Analyze
2,GOOG,Alphabet Inc Class C,Common stocks,Large cap,Communication Services,"$1,185,974,720,000",0.00%,7.58,4.39,2.22,Analyze
3,GOOGL,Alphabet Inc Class A,Common stocks,Large cap,Communication Services,"$1,185,974,720,000",0.00%,7.38,4.39,2.17,Analyze
1,MSFT,Microsoft Corp,Common stocks,Large cap,Information Technology,"$1,846,063,276,184",1.02%,24.87,9.59,11.06,Analyze

In [33]:
sp500_cap_space = sp500_index["Category3"].value_counts()

In [34]:
sp500_cap_space

Large cap    467
Mid cap       34
Small cap      1
Unknown        1
Name: Category3, dtype: int64

In [40]:
top_dividend_yield_sp500_index = sp500_index.sort_values(by = "Dividend yield", ascending =False)

In [41]:
top_five_dividend_yield_sp500 = top_dividend_yield_sp500_index.head(5)

In [39]:
top_five_dividend_yield_sp500

,Symbol,Description,Category2,Category3,GICS Sector,Market cap,Dividend yield,Price to TTM earnings,Price to TTM sales,Price to book value,Action
99,MO,Altria Group Inc,Common stocks,Large cap,Consumer Staples,"$79,375,325,251",8.06%,26.40,3.77,-45.10,Analyze
54,T,AT&T Inc.,Common stocks,Large cap,Communication Services,"$142,600,000,000",6.81%,8.32,0.87,0.76,Analyze
448,VFC,VF Corp,Common stocks,Large cap,Consumer Discretionary,"$11,618,125,942",6.58%,8.32,1.00,3.18,Analyze
40,VZ,Verizon Communications Inc,Common stocks,Large cap,Communication Services,"$169,126,648,591",6.27%,7.90,1.26,2.02,Analyze
193,KMI,Kinder Morgan Inc,Common stocks,Large cap,Energy,"$41,830,479,941",5.79%,40.14,2.67,1.37,Analyze

In [42]:
bottom_dividend_yield_sp500_index = sp500_index.sort_values(by = "Dividend yield", ascending =True)

In [43]:
bottom_five_dividend_yield_sp500 = bottom_dividend_yield_sp500_index.head(5)

In [44]:
bottom_five_dividend_yield_sp500

,Symbol,Description,Category2,Category3,GICS Sector,Market cap,Dividend yield,Price to TTM earnings,Price to TTM sales,Price to book value,Action
502,GEHC,GE HealthCare Technologies Inc.,Common stocks,Unknown,Health Care,$0,0.00%,0.00,0.00,0.00,Analyze
260,URI,United Rentals Inc,Common stocks,Large cap,Industrials,"$29,905,223,382",0.00%,19.29,2.94,4.92,Analyze
95,VRTX,Vertex Pharmaceuticals Inc,Common stocks,Large cap,Health Care,"$82,403,089,921",0.00%,33.62,10.37,7.56,Analyze
263,APTV,Aptiv Plc,Common stocks,Large cap,Consumer Discretionary,"$28,937,415,037",0.00%,90.15,1.83,3.45,Analyze
270,ENPH,Enphase Energy Inc,Common stocks,Large cap,Information Technology,"$28,274,821,447",0.00%,201.81,18.58,100.95,Analyze

In [82]:
# Technology Sector Data

In [54]:
sp500_technology = sp500_companies.loc[sp500_companies["Sector"] =="Technology", :]

In [303]:
sp500_technology_top_marketcap = sp500_technology.sort_values(by = "Marketcap", ascending=False)  
sp500_technology_top_5_marketcap = sp500_technology_top_marketcap.head(5)

In [86]:
sp500_technology_top_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,137.87,2183336820736,1.305410e+11,0.081,Cupertino,CA,United States,164000.0,"Apple Inc. designs, manufactures, and markets ...",0.061551
1,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software—Infrastructure,240.22,1803566972928,9.798300e+10,0.124,Redmond,WA,United States,221000.0,"Microsoft Corporation develops, licenses, and ...",0.050845
8,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,178.39,444547891200,1.068000e+10,0.030,Santa Clara,CA,United States,22473.0,"NVIDIA Corporation provides graphics, and comp...",0.012532
22,NMS,AVGO,Broadcom Inc.,Broadcom Inc.,Technology,Semiconductors,570.78,238520991744,1.927000e+10,0.206,San Jose,CA,United States,20000.0,"Broadcom Inc. designs, develops, and supplies ...",0.006724
25,NYQ,ORCL,Oracle Corporation,Oracle Corporation,Technology,Software—Infrastructure,87.25,232996749312,1.840500e+10,0.176,Austin,TX,United States,143000.0,Oracle Corporation offers products and service...,0.006568

In [87]:
sp500_technology_bottom_marketcap = sp500_technology.sort_values(by = "Marketcap", ascending=True)    
sp500_technology_bottom_5_marketcap = sp500_technology_bottom_marketcap.head(5)

In [92]:
sp500_technology_bottom_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
489,NYQ,DXC,DXC Technology Company,DXC Technology Company,Technology,Information Technology Services,28.40,6533845504,2.834000e+09,-0.114,Ashburn,VA,United States,130000.0,"DXC Technology Company, together with its subs...",0.000184
477,NMS,FTNT,"Fortinet, Inc.","Fortinet, Inc.",Technology,Software—Infrastructure,49.27,8055645184,8.218000e+08,0.286,Sunnyvale,CA,United States,11508.0,"Fortinet, Inc. provides broad, integrated, and...",0.000227
468,NMS,FFIV,"F5, Inc.","F5, Inc.",Technology,Software—Infrastructure,144.65,8856832000,5.870410e+08,0.026,Seattle,WA,United States,NaN,"F5, Inc. provides multi-cloud application secu...",0.000250
459,NYQ,JNPR,"Juniper Networks, Inc.","Juniper Networks, Inc.",Technology,Communication Equipment,31.46,10230194176,7.243000e+08,0.190,Sunnyvale,CA,United States,10705.0,"Juniper Networks, Inc. designs, develops, and ...",0.000288
452,NYQ,CDAY,Ceridian HCM Holding Inc.,Ceridian HCM Holding Inc.,Technology,Software—Application,69.75,10713251840,4.150000e+07,0.227,Minneapolis,MN,United States,7462.0,"Ceridian HCM Holding Inc., together with its s...",0.000302

In [93]:
sp500_technology_top_currentprice = sp500_technology.sort_values(by = "Currentprice", ascending=False)    
sp500_technology_top_5_currentprice = sp500_technology_top_currentprice.head(5)

In [96]:
sp500_technology_top_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
22,NMS,AVGO,Broadcom Inc.,Broadcom Inc.,Technology,Semiconductors,570.78,238520991744,1.927000e+10,0.206,San Jose,CA,United States,20000.0,"Broadcom Inc. designs, develops, and supplies ...",0.006724
116,NMS,LRCX,Lam Research Corporation,Lam Research Corporation,Technology,Semiconductor Equipment & Materials,472.50,66527531008,6.037045e+09,0.179,Fremont,CA,United States,18700.0,"Lam Research Corporation designs, manufactures...",0.001875
88,NYQ,NOW,"ServiceNow, Inc.","ServiceNow, Inc.",Technology,Software—Application,441.83,87924170752,6.760000e+08,0.211,Santa Clara,CA,United States,16881.0,"ServiceNow, Inc. provides enterprise cloud com...",0.002479
128,NMS,KLAC,KLA Corporation,KLA Corporation,Technology,Semiconductor Equipment & Materials,413.85,62748766208,4.323971e+09,0.307,Milpitas,CA,United States,14000.0,"KLA Corporation designs, manufactures, and mar...",0.001769
336,NYQ,TDY,Teledyne Technologies Incorpora,Teledyne Technologies Incorporated,Technology,Scientific & Technical Instruments,404.23,18859431936,1.210800e+09,0.039,Thousand Oaks,CA,United States,14500.0,Teledyne Technologies Incorporated provides en...,0.000532

In [97]:
sp500_technology_bottom_currentprice = sp500_technology.sort_values(by = "Currentprice", ascending=True)  
sp500_technology_bottom_5_currentprice = sp500_technology_bottom_currentprice.head(5)

In [304]:
sp500_technology_bottom_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
316,NYQ,HPE,Hewlett Packard Enterprise Comp,Hewlett Packard Enterprise Company,Technology,Communication Equipment,15.95,20630368256,4.655000e+09,0.008,Houston,TX,United States,60400.0,Hewlett Packard Enterprise Company provides so...,0.000582
253,NYQ,HPQ,HP Inc.,HP Inc.,Technology,Computer Hardware,27.91,30218715136,6.422000e+09,-0.041,Palo Alto,CA,United States,51000.0,HP Inc. provides personal computing and other ...,0.000852
489,NYQ,DXC,DXC Technology Company,DXC Technology Company,Technology,Information Technology Services,28.40,6533845504,2.834000e+09,-0.114,Ashburn,VA,United States,130000.0,"DXC Technology Company, together with its subs...",0.000184
63,NMS,INTC,Intel Corporation,Intel Corporation,Technology,Semiconductors,29.22,118837739520,2.533300e+10,-0.220,Santa Clara,CA,United States,121100.0,"Intel Corporation engages in the design, manuf...",0.003350
459,NYQ,JNPR,"Juniper Networks, Inc.","Juniper Networks, Inc.",Technology,Communication Equipment,31.46,10230194176,7.243000e+08,0.190,Sunnyvale,CA,United States,10705.0,"Juniper Networks, Inc. designs, develops, and ...",0.000288

In [305]:
sp500_technology_top_ebitda = sp500_technology.sort_values(by = "Ebitda", ascending=False)  
sp500_technology_top_5_ebitda = sp500_technology_top_ebitda.head(5)

In [306]:
sp500_technology_top_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,137.87,2183336820736,1.305410e+11,0.081,Cupertino,CA,United States,164000.0,"Apple Inc. designs, manufactures, and markets ...",0.061551
1,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software—Infrastructure,240.22,1803566972928,9.798300e+10,0.124,Redmond,WA,United States,221000.0,"Microsoft Corporation develops, licenses, and ...",0.050845
63,NMS,INTC,Intel Corporation,Intel Corporation,Technology,Semiconductors,29.22,118837739520,2.533300e+10,-0.220,Santa Clara,CA,United States,121100.0,"Intel Corporation engages in the design, manuf...",0.003350
22,NMS,AVGO,Broadcom Inc.,Broadcom Inc.,Technology,Semiconductors,570.78,238520991744,1.927000e+10,0.206,San Jose,CA,United States,20000.0,"Broadcom Inc. designs, develops, and supplies ...",0.006724
25,NYQ,ORCL,Oracle Corporation,Oracle Corporation,Technology,Software—Infrastructure,87.25,232996749312,1.840500e+10,0.176,Austin,TX,United States,143000.0,Oracle Corporation offers products and service...,0.006568

In [307]:
sp500_technology_bottom_ebitda = sp500_technology.sort_values(by = "Ebitda", ascending=True)  
sp500_technology_bottom_5_ebitda = sp500_technology_bottom_ebitda.head(5)

In [308]:
sp500_technology_bottom_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
452,NYQ,CDAY,Ceridian HCM Holding Inc.,Ceridian HCM Holding Inc.,Technology,Software—Application,69.75,10713251840,41500000.0,0.227,Minneapolis,MN,United States,7462.0,"Ceridian HCM Holding Inc., together with its s...",0.000302
390,NMS,SEDG,"SolarEdge Technologies, Inc.","SolarEdge Technologies, Inc.",Technology,Solar,294.73,15479072768,242948992.0,0.516,Herzliya,NaN,Israel,3964.0,"SolarEdge Technologies, Inc., together with it...",0.000436
338,NYQ,PAYC,"Paycom Software, Inc.","Paycom Software, Inc.",Technology,Software—Application,313.46,18815686656,354523008.0,0.309,Oklahoma City,OK,United States,5385.0,"Paycom Software, Inc. provides cloud-based hum...",0.000530
422,NYQ,TYL,"Tyler Technologies, Inc.","Tyler Technologies, Inc.",Technology,Software—Application,316.00,12948510720,356699008.0,0.029,Plano,TX,United States,6800.0,"Tyler Technologies, Inc. provides integrated i...",0.000365
351,NMS,FSLR,"First Solar, Inc.","First Solar, Inc.",Technology,Solar,167.87,17849112576,389073984.0,-0.013,Tempe,AZ,United States,4800.0,"First Solar, Inc. provides photovoltaic (PV) s...",0.000503

In [309]:
sp500_technology_top_revenuegrowth = sp500_technology.sort_values(by = "Revenuegrowth", ascending=False)  
sp500_technology_top_5_revenuegrowth = sp500_technology_top_revenuegrowth.head(5)

In [310]:
sp500_technology_top_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
251,NGM,ENPH,"Enphase Energy, Inc.","Enphase Energy, Inc.",Technology,Solar,222.54,30248525824,4.023030e+08,0.806,Fremont,CA,United States,2260.0,"Enphase Energy, Inc., together with its subsid...",0.000853
219,NYQ,ANET,"Arista Networks, Inc.","Arista Networks, Inc.",Technology,Computer Hardware,115.13,35379449856,1.381614e+09,0.572,Santa Clara,CA,United States,2993.0,"Arista Networks, Inc. develops, markets, and s...",0.000997
342,NMS,MPWR,"Monolithic Power Systems, Inc.","Monolithic Power Systems, Inc.",Technology,Semiconductors,397.78,18334873600,4.342140e+08,0.572,Kirkland,WA,United States,2773.0,"Monolithic Power Systems, Inc. engages in the ...",0.000517
390,NMS,SEDG,"SolarEdge Technologies, Inc.","SolarEdge Technologies, Inc.",Technology,Solar,294.73,15479072768,2.429490e+08,0.516,Herzliya,NaN,Israel,3964.0,"SolarEdge Technologies, Inc., together with it...",0.000436
91,NMS,ADI,"Analog Devices, Inc.","Analog Devices, Inc.",Technology,Semiconductors,165.17,83637133312,6.118232e+09,0.388,Wilmington,MA,United States,24450.0,"Analog Devices, Inc. designs, manufactures, te...",0.002358

In [115]:
sp500_technology_bottom_revenuegrowth = sp500_technology.sort_values(by = "Revenuegrowth", ascending=True)  
sp500_technology_bottom_5_revenuegrowth = sp500_technology_bottom_revenuegrowth.head(5)

In [311]:
sp500_technology_bottom_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
419,NMS,STX,Seagate Technology Holdings PLC,Seagate Technology Holdings plc,Technology,Computer Hardware,59.34,13211219968,1.969000e+09,-0.347,Dublin,NaN,Ireland,40000.0,Seagate Technology Holdings plc provides data ...,0.000372
63,NMS,INTC,Intel Corporation,Intel Corporation,Technology,Semiconductors,29.22,118837739520,2.533300e+10,-0.220,Santa Clara,CA,United States,121100.0,"Intel Corporation engages in the design, manuf...",0.003350
117,NMS,MU,"Micron Technology, Inc.","Micron Technology, Inc.",Technology,Semiconductors,58.46,65485135872,1.682500e+10,-0.197,Boise,ID,United States,48000.0,"Micron Technology, Inc. designs, develops, man...",0.001846
386,NMS,TER,"Teradyne, Inc.","Teradyne, Inc.",Technology,Semiconductor Equipment & Materials,97.53,15897780224,1.052741e+09,-0.130,North Reading,MA,United States,6500.0,"Teradyne, Inc. designs, develops, manufactures...",0.000448
489,NYQ,DXC,DXC Technology Company,DXC Technology Company,Technology,Information Technology Services,28.40,6533845504,2.834000e+09,-0.114,Ashburn,VA,United States,130000.0,"DXC Technology Company, together with its subs...",0.000184

In [125]:
# Industrials Sector

In [126]:
sp500_industrial = sp500_companies.loc[sp500_companies["Sector"] =="Industrials", :]

In [312]:
sp500_industrial_top_marketcap = sp500_industrial.sort_values(by = "Marketcap", ascending=False)    
sp500_industrial_top_5_marketcap= sp500_industrial_top_marketcap.head(5)

In [313]:
sp500_industrial_top_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
45,NYQ,UPS,"United Parcel Service, Inc.","United Parcel Service, Inc.",Industrials,Integrated Freight & Logistics,178.13,154820263936,1.686200e+10,0.042,Atlanta,GA,United States,500000.0,"United Parcel Service, Inc. provides letter an...",0.004365
50,NYQ,RTX,Raytheon Technologies Corporati,Raytheon Technologies Corporation,Industrials,Aerospace & Defense,94.36,141236158464,1.124600e+10,0.046,Waltham,MA,United States,174000.0,"Raytheon Technologies Corporation, an aerospac...",0.003982
52,NMS,HON,Honeywell International Inc.,Honeywell International Inc.,Industrials,Conglomerates,202.03,139082088448,8.600001e+09,0.056,Charlotte,NC,United States,99000.0,Honeywell International Inc. operates as a div...,0.003921
56,NYQ,UNP,Union Pacific Corporation,Union Pacific Corporation,Industrials,Railroads,208.66,134142517248,1.224800e+10,0.180,Omaha,NE,United States,30582.0,"Union Pacific Corporation, through its subsidi...",0.003782
58,NYQ,CAT,"Caterpillar, Inc.",Caterpillar Inc.,Industrials,Farm & Heavy Construction Machinery,249.71,129951334400,1.115100e+10,0.209,Irving,TX,United States,107700.0,Caterpillar Inc. manufactures and sells constr...,0.003663

In [314]:
sp500_industrial_bottom_marketcap = sp500_industrial.sort_values(by = "Marketcap", ascending=True)    
sp500_industrial_bottom_5_marketcap= sp500_industrial_bottom_marketcap.head(5)

In [315]:
sp500_industrial_bottom_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
492,NYQ,ALK,"Alaska Air Group, Inc.","Alaska Air Group, Inc.",Industrials,Airlines,49.82,6319069184,1.092000e+09,0.448,Seattle,WA,United States,22354.0,"Alaska Air Group, Inc., through its subsidiari...",0.000178
487,NYQ,GNRC,Generac Holdlings Inc.,Generac Holdings Inc.,Industrials,Specialty Industrial Machinery,108.49,6844634112,8.662360e+08,0.404,Waukesha,WI,United States,8955.0,"Generac Holdings Inc. designs, manufactures, a...",0.000193
476,NYQ,PNR,Pentair plc.,Pentair plc,Industrials,Specialty Industrial Machinery,49.16,8134898688,7.621000e+08,0.089,London,NaN,United Kingdom,11250.0,Pentair plc provides various water solutions w...,0.000229
473,NYQ,RHI,Robert Half International Inc.,Robert Half International Inc.,Industrials,Staffing & Employment Services,78.27,8713798656,1.049556e+09,0.071,Menlo Park,CA,United States,14600.0,Robert Half International Inc. provides staffi...,0.000246
471,NYQ,HII,"Huntington Ingalls Industries,","Huntington Ingalls Industries, Inc.",Industrials,Aerospace & Defense,218.10,8737304576,1.095000e+09,0.193,Newport News,VA,United States,44000.0,"Huntington Ingalls Industries, Inc. engages in...",0.000246

In [138]:
sp500_industrial_top_currentprice = sp500_industrial.sort_values(by = "Currentprice", ascending=False)    
sp500_industrial_top_5_currentprice = sp500_industrial_top_currentprice.head(5)

In [316]:
sp500_industrial_top_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
210,NYQ,TDG,Transdigm Group Incorporated,TransDigm Group Incorporated,Industrials,Aerospace & Defense,672.65,37163175936,2.368000e+09,0.148,Cleveland,OH,United States,13300.0,"TransDigm Group Incorporated designs, produces...",0.001048
258,NYQ,GWW,"W.W. Grainger, Inc.","W.W. Grainger, Inc.",Industrials,Industrial Distribution,560.24,28863563776,2.145000e+09,0.196,Lake Forest,IL,United States,22700.0,"W.W. Grainger, Inc. distributes maintenance, r...",0.000814
107,NYQ,NOC,Northrop Grumman Corporation,Northrop Grumman Corporation,Industrials,Aerospace & Defense,450.76,70921674752,8.757000e+09,-0.038,Falls Church,VA,United States,88000.0,Northrop Grumman Corporation operates as an ae...,0.001999
61,NYQ,LMT,Lockheed Martin Corporation,Lockheed Martin Corporation,Industrials,Aerospace & Defense,443.28,122250412032,8.623000e+09,0.035,Bethesda,MD,United States,114000.0,"Lockheed Martin Corporation, a security and ae...",0.003446
160,NYQ,ROP,"Roper Technologies, Inc.","Roper Technologies, Inc.",Industrials,Specialty Industrial Machinery,441.59,46581121024,2.348600e+09,-0.077,Sarasota,FL,United States,19300.0,"Roper Technologies, Inc. designs and develops ...",0.001313

In [317]:
sp500_industrial_bottom_currentprice = sp500_industrial.sort_values(by = "Currentprice", ascending=True)    
sp500_industrial_bottom_5_currentprice = sp500_industrial_bottom_currentprice.head(5)

In [318]:
sp500_industrial_bottom_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
454,NMS,AAL,"American Airlines Group, Inc.",American Airlines Group Inc.,Industrials,Airlines,16.34,10619382784,2.400000e+09,0.501,Fort Worth,TX,United States,129700.0,"American Airlines Group Inc., through its subs...",0.000299
112,NMS,CSX,CSX Corporation,CSX Corporation,Industrials,Railroads,32.01,67298140160,7.273000e+09,0.183,Jacksonville,FL,United States,21946.0,"CSX Corporation, together with its subsidiarie...",0.001897
306,NYQ,LUV,Southwest Airlines Company,Southwest Airlines Co.,Industrials,Airlines,37.06,21936556032,2.346000e+09,0.679,Dallas,TX,United States,62333.0,Southwest Airlines Co. operates as a passenger...,0.000618
375,NYQ,HWM,Howmet Aerospace Inc.,Howmet Aerospace Inc.,Industrials,Aerospace & Defense,38.70,16533336064,1.194000e+09,0.166,Pittsburgh,PA,United States,19900.0,Howmet Aerospace Inc. provides advanced engine...,0.000466
280,NYQ,DAL,"Delta Air Lines, Inc.","Delta Air Lines, Inc.",Industrials,Airlines,39.03,25025564672,5.901000e+09,0.419,Atlanta,GA,United States,90000.0,"Delta Air Lines, Inc. provides scheduled air t...",0.000705

In [319]:
sp500_industrial_top_ebitda = sp500_industrial.sort_values(by = "Ebitda", ascending=False)  
sp500_industrial_top_5_ebitda = sp500_industrial_top_ebitda.head(5)

In [322]:
sp500_industrial_top_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
45,NYQ,UPS,"United Parcel Service, Inc.","United Parcel Service, Inc.",Industrials,Integrated Freight & Logistics,178.13,154820263936,1.686200e+10,0.042,Atlanta,GA,United States,500000.0,"United Parcel Service, Inc. provides letter an...",0.004365
56,NYQ,UNP,Union Pacific Corporation,Union Pacific Corporation,Industrials,Railroads,208.66,134142517248,1.224800e+10,0.180,Omaha,NE,United States,30582.0,"Union Pacific Corporation, through its subsidi...",0.003782
50,NYQ,RTX,Raytheon Technologies Corporati,Raytheon Technologies Corporation,Industrials,Aerospace & Defense,94.36,141236158464,1.124600e+10,0.046,Waltham,MA,United States,174000.0,"Raytheon Technologies Corporation, an aerospac...",0.003982
58,NYQ,CAT,"Caterpillar, Inc.",Caterpillar Inc.,Industrials,Farm & Heavy Construction Machinery,249.71,129951334400,1.115100e+10,0.209,Irving,TX,United States,107700.0,Caterpillar Inc. manufactures and sells constr...,0.003663
62,NYQ,DE,Deere & Company,Deere & Company,Industrials,Farm & Heavy Construction Machinery,410.60,122012663808,1.080400e+10,0.372,Moline,IL,United States,82200.0,Deere & Company manufactures and distributes v...,0.003440

In [323]:
sp500_industrial_bottom_ebitda = sp500_industrial.sort_values(by = "Ebitda", ascending=True)   
sp500_industrial_bottom_5_ebitda = sp500_industrial_bottom_ebitda.head(5)

In [324]:
sp500_industrial_bottom_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
60,NYQ,BA,Boeing Company (The),The Boeing Company,Industrials,Aerospace & Defense,206.76,123225440256,-2.681000e+09,0.044,Chicago,IL,United States,142000.0,"The Boeing Company, together with its subsidia...",0.003474
461,NYQ,ALLE,Allegion plc,Allegion plc,Industrials,Security & Protection Services,111.30,9777126400,6.629000e+08,0.274,Dublin,NaN,Ireland,11000.0,Allegion plc manufactures and sells mechanical...,0.000276
465,NYQ,AOS,A.O. Smith Corporation,A. O. Smith Corporation,Industrials,Specialty Industrial Machinery,59.15,9036700672,7.158000e+08,-0.044,Milwaukee,WI,United States,13700.0,A. O. Smith Corporation manufactures and marke...,0.000255
412,NMS,NDSN,Nordson Corporation,Nordson Corporation,Industrials,Specialty Industrial Machinery,233.82,13602852864,7.370390e+08,0.024,Westlake,OH,United States,7200.0,"Nordson Corporation engineers, manufactures, a...",0.000383
476,NYQ,PNR,Pentair plc.,Pentair plc,Industrials,Specialty Industrial Machinery,49.16,8134898688,7.621000e+08,0.089,London,NaN,United Kingdom,11250.0,Pentair plc provides various water solutions w...,0.000229

In [325]:
sp500_industrial_top_revenuegrowth = sp500_industrial.sort_values(by = "Revenuegrowth", ascending=False)   
sp500_industrial_top_5_revenuegrowth = sp500_industrial_top_revenuegrowth.head(5)

In [327]:
sp500_industrial_top_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
306,NYQ,LUV,Southwest Airlines Company,Southwest Airlines Co.,Industrials,Airlines,37.06,21936556032,2.346000e+09,0.679,Dallas,TX,United States,62333.0,Southwest Airlines Co. operates as a passenger...,0.000618
384,NMS,UAL,"United Airlines Holdings, Inc.","United Airlines Holdings, Inc.",Industrials,Airlines,49.46,16015494144,3.089000e+09,0.662,Chicago,IL,United States,90800.0,"United Airlines Holdings, Inc., through its su...",0.000451
454,NMS,AAL,"American Airlines Group, Inc.",American Airlines Group Inc.,Industrials,Airlines,16.34,10619382784,2.400000e+09,0.501,Fort Worth,TX,United States,129700.0,"American Airlines Group Inc., through its subs...",0.000299
492,NYQ,ALK,"Alaska Air Group, Inc.","Alaska Air Group, Inc.",Industrials,Airlines,49.82,6319069184,1.092000e+09,0.448,Seattle,WA,United States,22354.0,"Alaska Air Group, Inc., through its subsidiari...",0.000178
280,NYQ,DAL,"Delta Air Lines, Inc.","Delta Air Lines, Inc.",Industrials,Airlines,39.03,25025564672,5.901000e+09,0.419,Atlanta,GA,United States,90000.0,"Delta Air Lines, Inc. provides scheduled air t...",0.000705

In [328]:
sp500_industrial_bottom_revenuegrowth = sp500_industrial.sort_values(by = "Revenuegrowth", ascending=True)  
sp500_industrial_bottom_5_revenuegrowth = sp500_industrial_bottom_revenuegrowth.head(5)

In [329]:
sp500_industrial_bottom_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
207,NYQ,LHX,"L3Harris Technologies, Inc.","L3Harris Technologies, Inc.",Industrials,Aerospace & Defense,192.51,37775273984,3.517000e+09,-0.114,Melbourne,FL,United States,47000.0,"L3Harris Technologies, Inc., an aerospace and ...",0.001065
160,NYQ,ROP,"Roper Technologies, Inc.","Roper Technologies, Inc.",Industrials,Specialty Industrial Machinery,441.59,46581121024,2.348600e+09,-0.077,Sarasota,FL,United States,19300.0,"Roper Technologies, Inc. designs and develops ...",0.001313
223,NYQ,OTIS,Otis Worldwide Corporation,Otis Worldwide Corporation,Industrials,Specialty Industrial Machinery,80.81,34325581824,2.320000e+09,-0.058,Farmington,CT,United States,70000.0,"Otis Worldwide Corporation manufactures, insta...",0.000968
465,NYQ,AOS,A.O. Smith Corporation,A. O. Smith Corporation,Industrials,Specialty Industrial Machinery,59.15,9036700672,7.158000e+08,-0.044,Milwaukee,WI,United States,13700.0,A. O. Smith Corporation manufactures and marke...,0.000255
449,NMS,CHRW,"C.H. Robinson Worldwide, Inc.","C.H. Robinson Worldwide, Inc.",Industrials,Integrated Freight & Logistics,93.55,11011677184,1.451310e+09,-0.040,Eden Prairie,MN,United States,17652.0,"C.H. Robinson Worldwide, Inc., together with i...",0.000310

In [158]:
# Financial Services

In [159]:
sp500_fs = sp500_companies.loc[sp500_companies["Sector"] =="Financial Services", :]

In [330]:
sp500_fs_top_marketcap = sp500_fs.sort_values(by = "Marketcap", ascending=False)    
sp500_fs_top_5_marketcap = sp500_fs_top_marketcap.head(5)

In [331]:
sp500_fs_top_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
5,NYQ,BRK-B,Berkshire Hathaway Inc. New,Berkshire Hathaway Inc.,Financial Services,Insurance—Diversified,309.87,683734335488,9.947000e+09,0.090,Omaha,NE,United States,372000.0,"Berkshire Hathaway Inc., through its subsidiar...",0.019275
10,NYQ,JPM,JP Morgan Chase & Co.,JPMorgan Chase & Co.,Financial Services,Banks—Diversified,135.08,409068175360,NaN,0.000,New York,NY,United States,288474.0,JPMorgan Chase & Co. operates as a financial s...,0.011532
12,NYQ,MA,Mastercard Incorporated,Mastercard Incorporated,Financial Services,Credit Services,376.28,369716559872,NaN,NaN,Purchase,NY,United States,24000.0,"Mastercard Incorporated, a technology company,...",0.010423
18,NYQ,BAC,Bank of America Corporation,Bank of America Corporation,Financial Services,Banks—Diversified,33.85,270690992128,NaN,0.040,Charlotte,NC,United States,216823.0,"Bank of America Corporation, through its subsi...",0.007631
35,NYQ,WFC,Wells Fargo & Company,Wells Fargo & Company,Financial Services,Banks—Diversified,43.92,175119138816,NaN,-0.075,San Francisco,CA,United States,239209.0,"Wells Fargo & Company, a diversified financial...",0.004937

In [332]:
sp500_fs_bottom_marketcap = sp500_fs.sort_values(by = "Marketcap", ascending=True)  
sp500_fs_bottom_5_marketcap = sp500_fs_bottom_marketcap.head(5)

In [334]:
sp500_fs_bottom_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
493,NYQ,LNC,Lincoln National Corporation,Lincoln National Corporation,Financial Services,Insurance—Life,31.75,5737510400,1.422000e+09,0.052,Radnor,PA,United States,10848.0,"Lincoln National Corporation, through its subs...",0.000162
488,NYQ,AIZ,"Assurant, Inc.","Assurant, Inc.",Financial Services,Insurance—Specialty,128.91,6810496000,7.198000e+08,-0.034,New York,NY,United States,15600.0,"Assurant, Inc., together with its subsidiaries...",0.000192
484,NMS,SBNY,Signature Bank,Signature Bank,Financial Services,Banks—Regional,127.79,7748214272,NaN,0.355,New York,NY,United States,1854.0,Signature Bank provides commercial banking pro...,0.000218
478,NMS,ZION,Zions Bancorporation N.A.,"Zions Bancorporation, National Association",Financial Services,Banks—Regional,51.48,8054715392,NaN,0.023,Salt Lake City,UT,United States,9920.0,"Zions Bancorporation, National Association pro...",0.000227
469,NYQ,IVZ,Invesco Ltd,Invesco Ltd.,Financial Services,Asset Management,18.97,8749096960,1.729800e+09,-0.174,Atlanta,GA,United States,8621.0,Invesco Ltd. is a publicly owned investment ma...,0.000247

In [335]:
sp500_fs_top_currentprice = sp500_fs.sort_values(by = "Currentprice", ascending=False) 
sp500_fs_top_5_currentprice = sp500_fs_top_currentprice.head(5)

In [337]:
sp500_fs_top_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
70,NYQ,BLK,"BlackRock, Inc.","BlackRock, Inc.",Financial Services,Asset Management,741.71,111075524608,6.889667e+09,-0.151,New York,NY,United States,NaN,"BlackRock, Inc. is a publicly owned investment...",0.003131
186,NYQ,MSCI,MSCI Inc,MSCI Inc.,Financial Services,Financial Data & Stock Exchanges,511.76,42192924672,NaN,NaN,New York,NY,United States,4303.0,"MSCI Inc., together with its subsidiaries, pro...",0.001189
383,NYQ,FDS,FactSet Research Systems Inc.,FactSet Research Systems Inc.,Financial Services,Financial Data & Stock Exchanges,423.76,16016942080,6.264370e+08,0.212,Norwalk,CT,United States,11203.0,"FactSet Research Systems Inc., a financial dat...",0.000452
12,NYQ,MA,Mastercard Incorporated,Mastercard Incorporated,Financial Services,Credit Services,376.28,369716559872,NaN,NaN,Purchase,NY,United States,24000.0,"Mastercard Incorporated, a technology company,...",0.010423
87,NYQ,SPGI,S&P Global Inc.,S&P Global Inc.,Financial Services,Financial Data & Stock Exchanges,368.05,88700043264,4.720000e+09,0.421,New York,NY,United States,22850.0,"S&P Global Inc., together with its subsidiarie...",0.002501

In [338]:
sp500_fs_bottom_currentprice = sp500_fs.sort_values(by = "Currentprice", ascending=True) 
sp500_fs_bottom_5_currentprice = sp500_fs_bottom_currentprice.head(5)

In [339]:
sp500_fs_bottom_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
313,NMS,HBAN,Huntington Bancshares Incorpora,Huntington Bancshares Incorporated,Financial Services,Banks—Regional,14.11,20805758976,NaN,0.023,Columbus,OH,United States,19997.0,Huntington Bancshares Incorporated operates as...,0.000587
378,NYQ,KEY,KeyCorp,KeyCorp,Financial Services,Banks—Regional,17.44,16237651968,NaN,-0.078,Cleveland,OH,United States,17477.0,KeyCorp operates as the holding company for Ke...,0.000458
469,NYQ,IVZ,Invesco Ltd,Invesco Ltd.,Financial Services,Asset Management,18.97,8749096960,1.729800e+09,-0.174,Atlanta,GA,United States,8621.0,Invesco Ltd. is a publicly owned investment ma...,0.000247
309,NYQ,RF,Regions Financial Corporation,Regions Financial Corporation,Financial Services,Banks—Regional,22.69,21629992960,NaN,-0.020,Birmingham,AL,United States,19950.0,"Regions Financial Corporation, a financial hol...",0.000610
393,NYQ,BEN,"Franklin Resources, Inc.","Franklin Resources, Inc.",Financial Services,Asset Management,30.04,15073922048,2.472500e+09,-0.065,San Mateo,CA,United States,9800.0,"Franklin Resources, Inc. is a publicly owned a...",0.000425

In [340]:
sp500_fs_top_ebitda = sp500_fs.sort_values(by = "Ebitda", ascending=False)
sp500_fs_top_5_ebitda = sp500_fs_top_ebitda.head(5)

In [341]:
sp500_fs_top_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
164,NYQ,AIG,"American International Group, I","American International Group, Inc.",Financial Services,Insurance—Diversified,62.47,46413959168,2.355100e+10,0.146,New York,NY,United States,36600.0,"American International Group, Inc. offers insu...",0.001308
5,NYQ,BRK-B,Berkshire Hathaway Inc. New,Berkshire Hathaway Inc.,Financial Services,Insurance—Diversified,309.87,683734335488,9.947000e+09,0.090,Omaha,NE,United States,372000.0,"Berkshire Hathaway Inc., through its subsidiar...",0.019275
83,NYQ,CB,Chubb Limited,Chubb Limited,Financial Services,Insurance—Property & Casualty,220.43,91489468416,7.337000e+09,0.111,Zurich,NaN,Switzerland,34000.0,Chubb Limited provides insurance and reinsuran...,0.002579
70,NYQ,BLK,"BlackRock, Inc.","BlackRock, Inc.",Financial Services,Asset Management,741.71,111075524608,6.889667e+09,-0.151,New York,NY,United States,NaN,"BlackRock, Inc. is a publicly owned investment...",0.003131
89,NYQ,MMC,"Marsh & McLennan Companies, Inc","Marsh & McLennan Companies, Inc.",Financial Services,Insurance Brokers,173.12,87407419392,5.706000e+09,0.041,New York,NY,United States,86000.0,"Marsh & McLennan Companies, Inc., a profession...",0.002464

In [342]:
sp500_fs_bottom_ebitda = sp500_fs.sort_values(by = "Ebitda", ascending=True) 
sp500_fs_bottom_5_ebitda = sp500_fs_bottom_ebitda.head(5)

In [343]:
sp500_fs_bottom_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
379,NMS,CINF,Cincinnati Financial Corporatio,Cincinnati Financial Corporation,Financial Services,Insurance—Property & Casualty,102.73,16147513344,25000000.0,-0.211,Fairfield,OH,United States,5166.0,"Cincinnati Financial Corporation, together wit...",0.000455
425,NMS,MKTX,"MarketAxess Holdings, Inc.",MarketAxess Holdings Inc.,Financial Services,Capital Markets,335.98,12776143872,375836000.0,0.062,New York,NY,United States,732.0,"MarketAxess Holdings Inc., together with its s...",0.000360
383,NYQ,FDS,FactSet Research Systems Inc.,FactSet Research Systems Inc.,Financial Services,Financial Data & Stock Exchanges,423.76,16016942080,626436992.0,0.212,Norwalk,CT,United States,11203.0,"FactSet Research Systems Inc., a financial dat...",0.000452
488,NYQ,AIZ,"Assurant, Inc.","Assurant, Inc.",Financial Services,Insurance—Specialty,128.91,6810496000,719800000.0,-0.034,New York,NY,United States,15600.0,"Assurant, Inc., together with its subsidiaries...",0.000192
439,NYQ,GL,Globe Life Inc.,Globe Life Inc.,Financial Services,Insurance—Life,117.42,11856954368,981931008.0,0.011,McKinney,TX,United States,3222.0,"Globe Life Inc., through its subsidiaries, pro...",0.000334

In [344]:
sp500_fs_top_revenuegrowth = sp500_fs.sort_values(by = "Revenuegrowth", ascending=False) 
sp500_fs_top_5_revenuegrowth = sp500_fs_top_revenuegrowth.head(5)

In [345]:
sp500_fs_top_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
295,NMS,PFG,Principal Financial Group Inc,"Principal Financial Group, Inc.",Financial Services,Asset Management,87.96,23315468288,5.649200e+09,0.881,Des Moines,IA,United States,18600.0,"Principal Financial Group, Inc. provides retir...",0.000657
87,NYQ,SPGI,S&P Global Inc.,S&P Global Inc.,Financial Services,Financial Data & Stock Exchanges,368.05,88700043264,4.720000e+09,0.421,New York,NY,United States,22850.0,"S&P Global Inc., together with its subsidiarie...",0.002501
327,NYQ,MTB,M&T Bank Corporation,M&T Bank Corporation,Financial Services,Banks—Regional,153.69,19777597440,NaN,0.366,Buffalo,NY,United States,17115.0,M&T Bank Corporation operates as a bank holdin...,0.000558
261,NYQ,DFS,Discover Financial Services,Discover Financial Services,Financial Services,Credit Services,106.14,28339380224,NaN,0.364,Riverwoods,IL,United States,NaN,"Discover Financial Services, through its subsi...",0.000799
484,NMS,SBNY,Signature Bank,Signature Bank,Financial Services,Banks—Regional,127.79,7748214272,NaN,0.355,New York,NY,United States,1854.0,Signature Bank provides commercial banking pro...,0.000218

In [346]:
sp500_fs_bottom_revenuegrowth = sp500_fs.sort_values(by = "Revenuegrowth", ascending=True) 
sp500_fs_bottom_5_revenuegrowth = sp500_fs_bottom_revenuegrowth.head(5)

In [347]:
sp500_fs_bottom_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
270,NMS,TROW,"T. Rowe Price Group, Inc.","T. Rowe Price Group, Inc.",Financial Services,Asset Management,117.81,27001815040,3.662900e+09,-0.216,Baltimore,MD,United States,7771.0,"T. Rowe Price Group, Inc. is a publicly owned ...",0.000761
379,NMS,CINF,Cincinnati Financial Corporatio,Cincinnati Financial Corporation,Financial Services,Insurance—Property & Casualty,102.73,16147513344,2.500000e+07,-0.211,Fairfield,OH,United States,5166.0,"Cincinnati Financial Corporation, together wit...",0.000455
331,NYQ,SYF,Synchrony Financial,Synchrony Financial,Financial Services,Credit Services,35.41,19378442240,NaN,-0.193,Stamford,CT,United States,18000.0,"Synchrony Financial, together with its subsidi...",0.000546
209,NYQ,PRU,"Prudential Financial, Inc.","Prudential Financial, Inc.",Financial Services,Insurance—Life,98.63,37282140160,3.983000e+09,-0.179,Newark,NJ,United States,40916.0,"Prudential Financial, Inc., together with its ...",0.001051
469,NYQ,IVZ,Invesco Ltd,Invesco Ltd.,Financial Services,Asset Management,18.97,8749096960,1.729800e+09,-0.174,Atlanta,GA,United States,8621.0,Invesco Ltd. is a publicly owned investment ma...,0.000247

In [192]:
# Healthcare Sector

In [193]:
sp500_hc = sp500_companies.loc[sp500_companies["Sector"] =="Healthcare", :]

In [348]:
sp500_hc_top_marketcap = sp500_hc.sort_values(by = "Marketcap", ascending=False) 
sp500_hc_top_5_marketcap = sp500_hc_top_marketcap.head(5)

In [349]:
sp500_hc_top_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
7,NYQ,UNH,UnitedHealth Group Incorporated,UnitedHealth Group Incorporated,Healthcare,Healthcare Plans,486.72,458417733632,2.935100e+10,0.118,Minnetonka,MN,United States,350000.0,UnitedHealth Group Incorporated operates as a ...,0.012923
9,NYQ,JNJ,Johnson & Johnson,Johnson & Johnson,Healthcare,Drug Manufacturers—General,168.74,444224962560,3.164800e+10,0.019,New Brunswick,NJ,United States,141700.0,"Johnson & Johnson, together with its subsidiar...",0.012523
16,NYQ,LLY,Eli Lilly and Company,Eli Lilly and Company,Healthcare,Drug Manufacturers—General,346.07,328828092416,1.038040e+10,0.025,Indianapolis,IN,United States,35000.0,"Eli Lilly and Company discovers, develops, and...",0.009270
17,NYQ,MRK,"Merck & Company, Inc.","Merck & Co., Inc.",Healthcare,Drug Manufacturers—General,109.94,277701853184,2.348100e+10,0.280,Kenilworth,NJ,United States,67000.0,"Merck & Co., Inc. operates as a healthcare com...",0.007829
19,NYQ,ABBV,AbbVie Inc.,AbbVie Inc.,Healthcare,Drug Manufacturers—General,149.59,264546910208,2.980100e+10,0.033,North Chicago,IL,United States,50000.0,"AbbVie Inc. discovers, develops, manufactures,...",0.007458

In [351]:
sp500_hc_bottom_marketcap = sp500_hc.sort_values(by = "Marketcap", ascending=True) 
sp500_hc_bottom_5_marketcap = sp500_hc_bottom_marketcap.head(5)

In [352]:
sp500_hc_bottom_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
486,NYQ,DVA,DaVita Inc.,DaVita Inc.,Healthcare,Medical Care Facilities,80.32,7236831744,2.157674e+09,0.004,Denver,CO,United States,69000.0,DaVita Inc. provides kidney dialysis services ...,0.000204
481,NMS,XRAY,DENTSPLY SIRONA Inc.,DENTSPLY SIRONA Inc.,Healthcare,Medical Instruments & Supplies,36.97,7945296896,8.040000e+08,-0.089,Charlotte,NC,United States,15000.0,DENTSPLY SIRONA Inc. manufactures and sells va...,0.000224
480,NYQ,OGN,Organon & Co.,Organon & Co.,Healthcare,Drug Manufacturers—General,31.34,7946256896,2.055000e+09,-0.006,Jersey City,NJ,United States,9300.0,"Organon & Co., a health care company, develops...",0.000224
467,NYQ,CTLT,"Catalent, Inc.","Catalent, Inc.",Healthcare,Drug Manufacturers—Specialty & Generic,49.45,8899219456,1.111000e+09,-0.003,Somerset,NJ,United States,19000.0,"Catalent, Inc., together with its subsidiaries...",0.000251
447,NYQ,TFX,Teleflex Incorporated,Teleflex Incorporated,Healthcare,Medical Instruments & Supplies,235.69,11040898048,NaN,NaN,Wayne,PA,United States,14000.0,"Teleflex Incorporated designs, develops, manuf...",0.000311

In [353]:
sp500_hc_top_currentprice = sp500_hc.sort_values(by = "Currentprice", ascending=False) 
sp500_hc_top_5_currentprice= sp500_hc_top_currentprice.head(5)

In [354]:
sp500_hc_top_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
216,NYQ,MTD,"Mettler-Toledo International, I",Mettler-Toledo International Inc.,Healthcare,Diagnostics & Research,1561.53,35892858880,1.139487e+09,0.058,Columbus,OH,United States,15600.0,Mettler-Toledo International Inc. engages in t...,0.001012
100,NMS,REGN,"Regeneron Pharmaceuticals, Inc.","Regeneron Pharmaceuticals, Inc.",Healthcare,Biotechnology,722.00,77646045184,7.376800e+09,-0.444,Tarrytown,NY,United States,10715.0,"Regeneron Pharmaceuticals, Inc. discovers, inv...",0.002189
24,NYQ,TMO,Thermo Fisher Scientific Inc,Thermo Fisher Scientific Inc.,Healthcare,Diagnostics & Research,593.66,233930522624,1.235400e+10,0.144,Waltham,MA,United States,130000.0,Thermo Fisher Scientific Inc. offers life scie...,0.006595
124,NYQ,HUM,Humana Inc.,Humana Inc.,Healthcare,Healthcare Plans,497.30,63919955968,4.871000e+09,0.146,Louisville,KY,United States,95500.0,"Humana Inc., together with its subsidiaries, o...",0.001802
190,NMS,IDXX,"IDEXX Laboratories, Inc.","IDEXX Laboratories, Inc.",Healthcare,Diagnostics & Research,488.88,41453895680,9.613580e+08,0.042,Westbrook,ME,United States,10000.0,"IDEXX Laboratories, Inc. develops, manufacture...",0.001169

In [355]:
sp500_hc_bottom_currentprice = sp500_hc.sort_values(by = "Currentprice", ascending=True) 
sp500_hc_bottom_5_currentprice = sp500_hc_bottom_currentprice.head(5)

In [356]:
sp500_hc_bottom_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
406,NMS,VTRS,Viatris Inc.,Viatris Inc.,Healthcare,Drug Manufacturers—Specialty & Generic,11.60,14028923904,5.242100e+09,-0.101,Canonsburg,PA,United States,37000.0,Viatris Inc. operates as a healthcare company ...,0.000395
480,NYQ,OGN,Organon & Co.,Organon & Co.,Healthcare,Drug Manufacturers—General,31.34,7946256896,2.055000e+09,-0.006,Jersey City,NJ,United States,9300.0,"Organon & Co., a health care company, develops...",0.000224
246,NMS,WBA,"Walgreens Boots Alliance, Inc.","Walgreens Boots Alliance, Inc.",Healthcare,Pharmaceutical Retailers,35.88,30998347776,5.322000e+09,-0.053,Deerfield,IL,United States,200000.0,"Walgreens Boots Alliance, Inc. operates as an ...",0.000874
481,NMS,XRAY,DENTSPLY SIRONA Inc.,DENTSPLY SIRONA Inc.,Healthcare,Medical Instruments & Supplies,36.97,7945296896,8.040000e+08,-0.089,Charlotte,NC,United States,15000.0,DENTSPLY SIRONA Inc. manufactures and sells va...,0.000224
303,NYQ,BAX,Baxter International Inc.,Baxter International Inc.,Healthcare,Medical Instruments & Supplies,43.88,22120828928,2.956000e+09,0.170,Deerfield,IL,United States,60000.0,"Baxter International Inc., through its subsidi...",0.000624

In [357]:
sp500_hc_top_ebitda = sp500_hc.sort_values(by = "Ebitda", ascending=False) 
sp500_hc_top_5_ebitda = sp500_hc_top_ebitda.head(5)

In [358]:
sp500_hc_top_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
21,NYQ,PFE,"Pfizer, Inc.",Pfizer Inc.,Healthcare,Drug Manufacturers—General,45.11,253196582912,4.352100e+10,0.468,New York,NY,United States,79000.0,"Pfizer Inc. discovers, develops, manufactures,...",0.007138
9,NYQ,JNJ,Johnson & Johnson,Johnson & Johnson,Healthcare,Drug Manufacturers—General,168.74,444224962560,3.164800e+10,0.019,New Brunswick,NJ,United States,141700.0,"Johnson & Johnson, together with its subsidiar...",0.012523
19,NYQ,ABBV,AbbVie Inc.,AbbVie Inc.,Healthcare,Drug Manufacturers—General,149.59,264546910208,2.980100e+10,0.033,North Chicago,IL,United States,50000.0,"AbbVie Inc. discovers, develops, manufactures,...",0.007458
7,NYQ,UNH,UnitedHealth Group Incorporated,UnitedHealth Group Incorporated,Healthcare,Healthcare Plans,486.72,458417733632,2.935100e+10,0.118,Minnetonka,MN,United States,350000.0,UnitedHealth Group Incorporated operates as a ...,0.012923
17,NYQ,MRK,"Merck & Company, Inc.","Merck & Co., Inc.",Healthcare,Drug Manufacturers—General,109.94,277701853184,2.348100e+10,0.280,Kenilworth,NJ,United States,67000.0,"Merck & Co., Inc. operates as a healthcare com...",0.007829

In [359]:
sp500_hc_bottom_ebitda = sp500_hc.sort_values(by = "Ebitda", ascending=True) 
sp500_hc_bottom_5_ebitda = sp500_hc_bottom_ebitda.head(5)

In [360]:
sp500_hc_bottom_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
424,NMS,TECH,Bio-Techne Corp,Bio-Techne Corporation,Healthcare,Biotechnology,81.46,12786776064,358478016.0,0.046,Minneapolis,MN,United States,3000.0,"Bio-Techne Corporation, together with its subs...",0.000360
189,NMS,DXCM,"DexCom, Inc.","DexCom, Inc.",Healthcare,Medical Devices,107.86,41661788160,416400000.0,0.184,San Diego,CA,United States,6300.0,"DexCom, Inc., a medical device company, focuse...",0.001174
415,NYQ,BIO,"Bio-Rad Laboratories, Inc.","Bio-Rad Laboratories, Inc.",Healthcare,Medical Devices,457.29,13371205632,666118016.0,-0.089,Hercules,CA,United States,8200.0,"Bio-Rad Laboratories, Inc. manufactures, and d...",0.000377
341,NMS,INCY,Incyte Corporation,Incyte Corporation,Healthcare,Biotechnology,83.20,18378131456,797299008.0,0.291,Wilmington,DE,United States,2094.0,"Incyte Corporation, a biopharmaceutical compan...",0.000518
481,NMS,XRAY,DENTSPLY SIRONA Inc.,DENTSPLY SIRONA Inc.,Healthcare,Medical Instruments & Supplies,36.97,7945296896,804000000.0,-0.089,Charlotte,NC,United States,15000.0,DENTSPLY SIRONA Inc. manufactures and sells va...,0.000224

In [361]:
sp500_hc_top_revenuegrowth = sp500_hc.sort_values(by = "Revenuegrowth", ascending=False) 
sp500_hc_top_5_revenuegrowth = sp500_hc_top_revenuegrowth.head(5)

In [362]:
sp500_hc_top_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
21,NYQ,PFE,"Pfizer, Inc.",Pfizer Inc.,Healthcare,Drug Manufacturers—General,45.11,253196582912,4.352100e+10,0.468,New York,NY,United States,79000.0,"Pfizer Inc. discovers, develops, manufactures,...",0.007138
341,NMS,INCY,Incyte Corporation,Incyte Corporation,Healthcare,Biotechnology,83.20,18378131456,7.972990e+08,0.291,Wilmington,DE,United States,2094.0,"Incyte Corporation, a biopharmaceutical compan...",0.000518
17,NYQ,MRK,"Merck & Company, Inc.","Merck & Co., Inc.",Healthcare,Drug Manufacturers—General,109.94,277701853184,2.348100e+10,0.280,Kenilworth,NJ,United States,67000.0,"Merck & Co., Inc. operates as a healthcare com...",0.007829
95,NMS,VRTX,Vertex Pharmaceuticals Incorpor,Vertex Pharmaceuticals Incorporated,Healthcare,Biotechnology,309.84,78777442304,3.277400e+09,0.225,Boston,MA,United States,3900.0,"Vertex Pharmaceuticals Incorporated, a biotech...",0.002221
317,NYQ,STE,STERIS plc (Ireland),STERIS plc,Healthcare,Medical Devices,205.11,20515717120,1.252719e+09,0.194,Dublin,NaN,Ireland,16000.0,STERIS plc provides infection prevention and o...,0.000578

In [363]:
sp500_hc_bottom_revenuegrowth = sp500_hc.sort_values(by = "Revenuegrowth", ascending=True)
sp500_hc_bottom_5_revenuegrowth = sp500_hc_bottom_revenuegrowth.head(5)

In [364]:
sp500_hc_bottom_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
100,NMS,REGN,"Regeneron Pharmaceuticals, Inc.","Regeneron Pharmaceuticals, Inc.",Healthcare,Biotechnology,722.00,77646045184,7.376800e+09,-0.444,Tarrytown,NY,United States,10715.0,"Regeneron Pharmaceuticals, Inc. discovers, inv...",0.002189
322,NMS,HOLX,"Hologic, Inc.","Hologic, Inc.",Healthcare,Medical Instruments & Supplies,79.66,20028196864,2.359000e+09,-0.142,Marlborough,MA,United States,6705.0,"Hologic, Inc. develops, manufactures, and supp...",0.000565
334,NMS,ALGN,"Align Technology, Inc.","Align Technology, Inc.",Healthcare,Medical Devices,243.01,18982094848,8.725100e+08,-0.124,Tempe,AZ,United States,23800.0,"Align Technology, Inc., a medical device compa...",0.000535
352,NYQ,DGX,Quest Diagnostics Incorporated,Quest Diagnostics Incorporated,Healthcare,Diagnostics & Research,145.43,17840623616,2.304000e+09,-0.104,Secaucus,NJ,United States,50000.0,Quest Diagnostics Incorporated provides diagno...,0.000503
406,NMS,VTRS,Viatris Inc.,Viatris Inc.,Healthcare,Drug Manufacturers—Specialty & Generic,11.60,14028923904,5.242100e+09,-0.101,Canonsburg,PA,United States,37000.0,Viatris Inc. operates as a healthcare company ...,0.000395

In [221]:
# Consumer Cyclical Sector

In [227]:
sp500_cy = sp500_companies.loc[sp500_companies["Sector"] =="Consumer Cyclical", :]

In [365]:
sp500_cy_top_marketcap = sp500_cy.sort_values(by = "Marketcap", ascending=False) 
sp500_cy_top_5_marketcap = sp500_cy_top_marketcap.head(5)

In [366]:
sp500_cy_top_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
4,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,97.25,992115359744,5.154900e+10,0.147,Seattle,WA,United States,1544000.0,"Amazon.com, Inc. engages in the retail sale of...",0.027969
15,NYQ,HD,"Home Depot, Inc. (The)","The Home Depot, Inc.",Consumer Cyclical,Home Improvement Retail,315.00,328935604224,2.694200e+10,0.065,Atlanta,GA,United States,500000.0,"The Home Depot, Inc. operates as a home improv...",0.009273
27,NYQ,MCD,McDonald's Corporation,McDonald's Corporation,Consumer Cyclical,Restaurants,268.58,200695054336,NaN,NaN,Chicago,IL,United States,100000.0,McDonald's Corporation operates and franchises...,0.005658
28,NYQ,NKE,"Nike, Inc.","NIKE, Inc.",Consumer Cyclical,Footwear & Accessories,126.62,200416673792,7.078000e+09,0.036,Beaverton,OR,United States,79100.0,"NIKE, Inc., together with its subsidiaries, de...",0.005650
53,NYQ,LOW,"Lowe's Companies, Inc.","Lowe's Companies, Inc.",Consumer Cyclical,Home Improvement Retail,204.53,137801482240,1.431300e+10,-0.003,Mooresville,NC,United States,300000.0,"Lowe's Companies, Inc., together with its subs...",0.003885

In [367]:
sp500_cy_bottom_marketcap = sp500_cy.sort_values(by = "Marketcap", ascending=True) 
sp500_cy_bottom_5_marketcap = sp500_cy_bottom_marketcap.head(5)

In [368]:
sp500_cy_bottom_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
490,NYQ,NCLH,Norwegian Cruise Line Holdings,Norwegian Cruise Line Holdings Ltd.,Consumer Cyclical,Travel Services,15.45,6440981504,-1.684442e+09,270.791,Miami,FL,United States,34700.0,"Norwegian Cruise Line Holdings Ltd., together ...",0.000182
483,NYQ,MHK,"Mohawk Industries, Inc.","Mohawk Industries, Inc.",Consumer Cyclical,"Furnishings, Fixtures & Appliances",114.60,7762132992,1.888004e+09,0.067,Calhoun,GA,United States,43000.0,"Mohawk Industries, Inc. designs, manufactures,...",0.000219
479,NYQ,SEE,Sealed Air Corporation,Sealed Air Corporation,Consumer Cyclical,Packaging & Containers,53.87,7981216768,1.151600e+09,0.067,Charlotte,NC,United States,16500.0,Sealed Air Corporation provides food safety an...,0.000225
472,NMS,HAS,"Hasbro, Inc.","Hasbro, Inc.",Consumer Cyclical,Leisure,63.32,8734804992,9.945000e+08,-0.149,Pawtucket,RI,United States,6640.0,"Hasbro, Inc., together with its subsidiaries, ...",0.000246
470,NYQ,AAP,Advance Auto Parts Inc.,"Advance Auto Parts, Inc.",Consumer Cyclical,Specialty Retail,147.49,8739329024,1.012869e+09,0.008,Raleigh,NC,United States,41000.0,"Advance Auto Parts, Inc. provides automotive r...",0.000246

In [369]:
sp500_cy_top_currentprice = sp500_cy.sort_values(by = "Currentprice", ascending=False) 
sp500_cy_top_5_currentprice = sp500_cy_top_currentprice.head(5)

In [370]:
sp500_cy_top_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
360,NYQ,NVR,"NVR, Inc.","NVR, Inc.",Consumer Cyclical,Residential Construction,5024.07,17497579520,2.167959e+09,0.163,Reston,VA,United States,6600.0,"NVR, Inc. operates as a homebuilder in the Uni...",0.000493
84,NMS,BKNG,Booking Holdings Inc. Common St,Booking Holdings Inc.,Consumer Cyclical,Travel Services,2344.29,90933600256,5.073000e+09,0.294,Norwalk,CT,United States,20700.0,Booking Holdings Inc. provides travel and rest...,0.002564
176,NYQ,AZO,"AutoZone, Inc.","AutoZone, Inc.",Consumer Cyclical,Specialty Retail,2326.61,43660468224,3.691163e+09,0.086,Memphis,TN,United States,69440.0,"AutoZone, Inc. retails and distributes automot...",0.001231
180,NYQ,CMG,"Chipotle Mexican Grill, Inc.","Chipotle Mexican Grill, Inc.",Consumer Cyclical,Restaurants,1555.19,43111575552,1.326910e+09,0.137,Newport Beach,CA,United States,100000.0,"Chipotle Mexican Grill, Inc., together with it...",0.001215
141,NMS,ORLY,"O'Reilly Automotive, Inc.","O'Reilly Automotive, Inc.",Consumer Cyclical,Specialty Retail,793.38,53456674816,3.309366e+09,0.092,Springfield,MO,United States,82852.0,"O'Reilly Automotive, Inc., together with its s...",0.001507

In [371]:
sp500_cy_bottom_currentprice = sp500_cy.sort_values(by = "Currentprice", ascending=True) 
sp500_cy_bottom_5_currentprice = sp500_cy_bottom_currentprice.head(5)

In [372]:
sp500_cy_bottom_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
411,NYQ,CCL,Carnival Corporation,Carnival Corporation & plc,Consumer Cyclical,Travel Services,10.47,13612151808,-1.663001e+09,1.983,Miami,FL,United States,NaN,Carnival Corporation & plc operates as a leisu...,0.000384
357,NYQ,AMCR,Amcor plc,Amcor plc,Consumer Cyclical,Packaging & Containers,11.88,17689559040,2.069000e+09,0.085,Zurich,NaN,Switzerland,44000.0,"Amcor plc develops, produces, and sells packag...",0.000499
150,NYQ,F,Ford Motor Company,Ford Motor Company,Consumer Cyclical,Auto Manufacturers,12.40,49553371136,1.745200e+10,0.502,Dearborn,MI,United States,183000.0,"Ford Motor Company designs, manufactures, mark...",0.001397
490,NYQ,NCLH,Norwegian Cruise Line Holdings,Norwegian Cruise Line Holdings Ltd.,Consumer Cyclical,Travel Services,15.45,6440981504,-1.684442e+09,270.791,Miami,FL,United States,34700.0,"Norwegian Cruise Line Holdings Ltd., together ...",0.000182
441,NYQ,VFC,V.F. Corporation,V.F. Corporation,Consumer Cyclical,Apparel Manufacturing,29.34,11524224000,1.569250e+09,-0.037,Denver,CO,United States,20300.0,"V.F. Corporation, together with its subsidiari...",0.000325

In [373]:
sp500_cy_top_ebitda = sp500_cy.sort_values(by = "Ebitda", ascending=False) 
sp500_cy_top_5_ebitda = sp500_cy_top_ebitda.head(5)

In [374]:
sp500_cy_top_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
4,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,97.25,992115359744,5.154900e+10,0.147,Seattle,WA,United States,1544000.0,"Amazon.com, Inc. engages in the retail sale of...",0.027969
15,NYQ,HD,"Home Depot, Inc. (The)","The Home Depot, Inc.",Consumer Cyclical,Home Improvement Retail,315.00,328935604224,2.694200e+10,0.065,Atlanta,GA,United States,500000.0,"The Home Depot, Inc. operates as a home improv...",0.009273
150,NYQ,F,Ford Motor Company,Ford Motor Company,Consumer Cyclical,Auto Manufacturers,12.40,49553371136,1.745200e+10,0.502,Dearborn,MI,United States,183000.0,"Ford Motor Company designs, manufactures, mark...",0.001397
146,NYQ,GM,General Motors Company,General Motors Company,Consumer Cyclical,Auto Manufacturers,35.35,51323248640,1.732900e+10,0.564,Detroit,MI,United States,157000.0,"General Motors Company designs, builds, and se...",0.001447
57,NMS,TSLA,"Tesla, Inc.","Tesla, Inc.",Consumer Cyclical,Auto Manufacturers,133.42,133988360192,1.597800e+10,0.559,Austin,TX,United States,99290.0,"Tesla, Inc. designs, develops, manufactures, l...",0.003777

In [375]:
sp500_cy_bottom_ebitda = sp500_cy.sort_values(by = "Ebitda", ascending=True) 
sp500_cy_bottom_5_ebitda = sp500_cy_bottom_ebitda.head(5)

In [376]:
sp500_cy_bottom_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
382,NYQ,RCL,D/B/A Royal Caribbean Cruises L,Royal Caribbean Cruises Ltd.,Consumer Cyclical,Travel Services,62.99,16049222656,-1.732205e+09,41.901,Miami,FL,United States,84900.0,Royal Caribbean Cruises Ltd. operates as a cru...,0.000452
490,NYQ,NCLH,Norwegian Cruise Line Holdings,Norwegian Cruise Line Holdings Ltd.,Consumer Cyclical,Travel Services,15.45,6440981504,-1.684442e+09,270.791,Miami,FL,United States,34700.0,"Norwegian Cruise Line Holdings Ltd., together ...",0.000182
411,NYQ,CCL,Carnival Corporation,Carnival Corporation & plc,Consumer Cyclical,Travel Services,10.47,13612151808,-1.663001e+09,1.983,Miami,FL,United States,NaN,Carnival Corporation & plc operates as a leisu...,0.000384
188,NYQ,LVS,Las Vegas Sands Corp.,Las Vegas Sands Corp.,Consumer Cyclical,Resorts & Casinos,54.57,41690935296,2.990000e+08,0.173,Las Vegas,NV,United States,44500.0,"Las Vegas Sands Corp., together with its subsi...",0.001175
442,NMS,WYNN,"Wynn Resorts, Limited","Wynn Resorts, Limited",Consumer Cyclical,Resorts & Casinos,99.27,11481369600,4.350150e+08,-0.082,Las Vegas,NV,United States,26950.0,"Wynn Resorts, Limited designs, develops, and o...",0.000324

In [377]:
sp500_cy_top_revenuegrowth = sp500_cy.sort_values(by = "Revenuegrowth", ascending=False) 
sp500_cy_top_5_revenuegrowth = sp500_cy_top_revenuegrowth.head(5)

In [378]:
sp500_cy_top_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
490,NYQ,NCLH,Norwegian Cruise Line Holdings,Norwegian Cruise Line Holdings Ltd.,Consumer Cyclical,Travel Services,15.45,6440981504,-1.684442e+09,270.791,Miami,FL,United States,34700.0,"Norwegian Cruise Line Holdings Ltd., together ...",0.000182
382,NYQ,RCL,D/B/A Royal Caribbean Cruises L,Royal Caribbean Cruises Ltd.,Consumer Cyclical,Travel Services,62.99,16049222656,-1.732205e+09,41.901,Miami,FL,United States,84900.0,Royal Caribbean Cruises Ltd. operates as a cru...,0.000452
411,NYQ,CCL,Carnival Corporation,Carnival Corporation & plc,Consumer Cyclical,Travel Services,10.47,13612151808,-1.663001e+09,1.983,Miami,FL,United States,NaN,Carnival Corporation & plc operates as a leisu...,0.000384
140,NMS,MAR,Marriott International,"Marriott International, Inc.",Consumer Cyclical,Lodging,166.91,54359752704,2.953000e+09,0.748,Bethesda,MD,United States,120000.0,"Marriott International, Inc. operates, franchi...",0.001532
146,NYQ,GM,General Motors Company,General Motors Company,Consumer Cyclical,Auto Manufacturers,35.35,51323248640,1.732900e+10,0.564,Detroit,MI,United States,157000.0,"General Motors Company designs, builds, and se...",0.001447

In [379]:
sp500_cy_bottom_revenuegrowth = sp500_cy.sort_values(by = "Revenuegrowth", ascending=True) 
sp500_cy_bottom_5_revenuegrowth = sp500_cy_bottom_revenuegrowth.head(5)

In [381]:
sp500_cy_bottom_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
455,NYQ,KMX,CarMax Inc,"CarMax, Inc.",Consumer Cyclical,Auto & Truck Dealerships,66.08,10442226688,1.141873e+09,-0.224,Richmond,VA,United States,30000.0,"CarMax, Inc., together with its subsidiaries, ...",0.000294
472,NMS,HAS,"Hasbro, Inc.","Hasbro, Inc.",Consumer Cyclical,Leisure,63.32,8734804992,9.945000e+08,-0.149,Pawtucket,RI,United States,6640.0,"Hasbro, Inc., together with its subsidiaries, ...",0.000246
463,NYQ,WHR,Whirlpool Corporation,Whirlpool Corporation,Consumer Cyclical,"Furnishings, Fixtures & Appliances",150.82,9161274368,2.129000e+09,-0.128,Benton Harbor,MI,United States,69000.0,Whirlpool Corporation manufactures and markets...,0.000258
344,NYQ,BBY,"Best Buy Co., Inc.","Best Buy Co., Inc.",Consumer Cyclical,Specialty Retail,82.67,18291894272,2.977000e+09,-0.111,Richfield,MN,United States,57750.0,"Best Buy Co., Inc. retails technology products...",0.000516
442,NMS,WYNN,"Wynn Resorts, Limited","Wynn Resorts, Limited",Consumer Cyclical,Resorts & Casinos,99.27,11481369600,4.350150e+08,-0.082,Las Vegas,NV,United States,26950.0,"Wynn Resorts, Limited designs, develops, and o...",0.000324

In [254]:
# Consumer Defensive

In [255]:
sp500_def = sp500_companies.loc[sp500_companies["Sector"] =="Consumer Defensive", :]

In [382]:
sp500_def_top_marketcap = sp500_def.sort_values(by = "Marketcap", ascending=False) 
sp500_def_top_5_marketcap = sp500_def_top_marketcap.head(5)

In [383]:
sp500_def_top_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
11,NYQ,WMT,Walmart Inc.,Walmart Inc.,Consumer Defensive,Discount Stores,140.54,389841092608,3.458600e+10,0.084,Bentonville,AR,United States,2300000.0,Walmart Inc. engages in the operation of retai...,0.010990
14,NYQ,PG,Procter & Gamble Company (The),The Procter & Gamble Company,Consumer Defensive,Household & Personal Products,142.97,345980272640,2.136400e+10,0.013,Cincinnati,OH,United States,106000.0,The Procter & Gamble Company provides branded ...,0.009754
20,NYQ,KO,Coca-Cola Company (The),The Coca-Cola Company,Consumer Defensive,Beverages—Non-Alcoholic,60.08,259816587264,1.353100e+10,0.102,Atlanta,GA,United States,79000.0,"The Coca-Cola Company, a beverage company, man...",0.007325
23,NMS,PEP,"Pepsico, Inc.","PepsiCo, Inc.",Consumer Defensive,Beverages—Non-Alcoholic,169.88,234884579328,1.515600e+10,0.088,Purchase,NY,United States,309000.0,"PepsiCo, Inc. manufactures, markets, distribut...",0.006622
26,NMS,COST,Costco Wholesale Corporation,Costco Wholesale Corporation,Consumer Defensive,Discount Stores,480.11,213038727168,9.648000e+09,0.081,Issaquah,WA,United States,304000.0,"Costco Wholesale Corporation, together with it...",0.006006

In [384]:
sp500_def_bottom_marketcap = sp500_def.sort_values(by = "Marketcap", ascending=True) 
sp500_def_bottom_5_marketcap = sp500_def_bottom_marketcap.head(5)

In [385]:
sp500_def_bottom_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
491,NMS,NWL,Newell Brands Inc.,Newell Brands Inc.,Consumer Defensive,Household & Personal Products,15.05,6402270208,1.390000e+09,-0.065,Atlanta,GA,United States,32000.0,"Newell Brands Inc. designs, manufactures, sour...",0.000180
450,NYQ,TAP,Molson Coors Beverage Company,Molson Coors Beverage Company,Consumer Defensive,Beverages—Brewers,49.98,10868001792,1.839000e+09,-0.006,Golden,CO,United States,16300.0,"Molson Coors Beverage Company manufactures, ma...",0.000306
405,NYQ,LW,"Lamb Weston Holdings, Inc.","Lamb Weston Holdings, Inc.",Consumer Defensive,Packaged Foods,96.56,14104326144,7.391000e+08,0.144,Eagle,ID,United States,8000.0,"Lamb Weston Holdings, Inc. produces, distribut...",0.000398
388,NYQ,CPB,Campbell Soup Company,Campbell Soup Company,Consumer Defensive,Packaged Foods,52.04,15584315392,1.598000e+09,0.152,Camden,NJ,United States,14700.0,"Campbell Soup Company, together with its subsi...",0.000439
380,NYQ,SJM,J.M. Smucker Company (The) New,The J. M. Smucker Company,Consumer Defensive,Packaged Foods,148.93,16138501120,1.548800e+09,0.008,Orrville,OH,United States,6700.0,The J. M. Smucker Company manufactures and mar...,0.000455

In [386]:
sp500_def_top_currentprice = sp500_def.sort_values(by = "Currentprice", ascending=False) 
sp500_def_top_5_currentprice = sp500_def_top_currentprice.head(5)

In [387]:
sp500_def_top_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
26,NMS,COST,Costco Wholesale Corporation,Costco Wholesale Corporation,Consumer Defensive,Discount Stores,480.11,213038727168,9.648000e+09,0.081,Issaquah,WA,United States,304000.0,"Costco Wholesale Corporation, together with it...",0.006006
77,NYQ,EL,"Estee Lauder Companies, Inc. (T",The Estée Lauder Companies Inc.,Consumer Defensive,Household & Personal Products,267.56,95468617728,3.990000e+09,-0.105,New York,NY,United States,44730.0,"The Estée Lauder Companies Inc. manufactures, ...",0.002691
145,NYQ,DG,Dollar General Corporation,Dollar General Corporation,Consumer Defensive,Discount Stores,230.61,51558633472,3.893282e+09,0.111,Goodlettsville,TN,United States,163000.0,"Dollar General Corporation, a discount retaile...",0.001453
195,NYQ,STZ,"Constellation Brands, Inc.","Constellation Brands, Inc.",Consumer Defensive,Beverages—Wineries & Distilleries,220.88,40763629568,3.431100e+09,0.050,Victor,NY,United States,10000.0,"Constellation Brands, Inc., together with its ...",0.001149
174,NYQ,HSY,The Hershey Company,The Hershey Company,Consumer Defensive,Confectioners,214.52,44191977472,2.561741e+09,0.193,Hershey,PA,United States,16620.0,"The Hershey Company, together with its subsidi...",0.001246

In [388]:
sp500_def_bottom_currentprice = sp500_def.sort_values(by = "Currentprice", ascending=True) 
sp500_def_bottom_5_currentprice = sp500_def_bottom_currentprice.head(5)

In [389]:
sp500_def_bottom_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
491,NMS,NWL,Newell Brands Inc.,Newell Brands Inc.,Consumer Defensive,Household & Personal Products,15.05,6402270208,1.390000e+09,-0.065,Atlanta,GA,United States,32000.0,"Newell Brands Inc. designs, manufactures, sour...",0.000180
152,NMS,KDP,Keurig Dr Pepper Inc.,Keurig Dr Pepper Inc.,Consumer Defensive,Beverages—Non-Alcoholic,34.71,49217388544,3.502000e+09,0.114,Burlington,MA,United States,27000.0,Keurig Dr Pepper Inc. operates as a beverage c...,0.001387
346,NYQ,CAG,"ConAgra Brands, Inc.","Conagra Brands, Inc.",Consumer Defensive,Packaged Foods,37.98,18102104064,2.136200e+09,0.083,Chicago,IL,United States,18000.0,"Conagra Brands, Inc., together with its subsid...",0.000510
155,NMS,KHC,The Kraft Heinz Company,The Kraft Heinz Company,Consumer Defensive,Packaged Foods,39.88,48814714880,6.018000e+09,-0.009,Pittsburgh,PA,United States,36000.0,"The Kraft Heinz Company, together with its sub...",0.001376
232,NYQ,KR,Kroger Company (The),The Kroger Co.,Consumer Defensive,Grocery Stores,44.45,32682129408,7.331000e+09,0.093,Cincinnati,OH,United States,500000.0,The Kroger Co. operates as a retailer in the U...,0.000921

In [390]:
sp500_def_top_ebitda = sp500_def.sort_values(by = "Ebitda", ascending=False) 
sp500_def_top_5_ebitda = sp500_def_top_ebitda.head(5)

In [391]:
sp500_def_top_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
11,NYQ,WMT,Walmart Inc.,Walmart Inc.,Consumer Defensive,Discount Stores,140.54,389841092608,3.458600e+10,0.084,Bentonville,AR,United States,2300000.0,Walmart Inc. engages in the operation of retai...,0.010990
14,NYQ,PG,Procter & Gamble Company (The),The Procter & Gamble Company,Consumer Defensive,Household & Personal Products,142.97,345980272640,2.136400e+10,0.013,Cincinnati,OH,United States,106000.0,The Procter & Gamble Company provides branded ...,0.009754
23,NMS,PEP,"Pepsico, Inc.","PepsiCo, Inc.",Consumer Defensive,Beverages—Non-Alcoholic,169.88,234884579328,1.515600e+10,0.088,Purchase,NY,United States,309000.0,"PepsiCo, Inc. manufactures, markets, distribut...",0.006622
43,NYQ,PM,Philip Morris International Inc,Philip Morris International Inc.,Consumer Defensive,Tobacco,101.82,158516428800,1.364600e+10,-0.011,New York,NY,United States,69600.0,Philip Morris International Inc. operates as a...,0.004469
20,NYQ,KO,Coca-Cola Company (The),The Coca-Cola Company,Consumer Defensive,Beverages—Non-Alcoholic,60.08,259816587264,1.353100e+10,0.102,Atlanta,GA,United States,79000.0,"The Coca-Cola Company, a beverage company, man...",0.007325

In [392]:
sp500_def_bottom_ebitda = sp500_def.sort_values(by = "Ebitda", ascending=True) 
sp500_def_bottom_5_ebitda = sp500_def_bottom_ebitda.head(5)

In [393]:
sp500_def_bottom_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
405,NYQ,LW,"Lamb Weston Holdings, Inc.","Lamb Weston Holdings, Inc.",Consumer Defensive,Packaged Foods,96.56,14104326144,7.391000e+08,0.144,Eagle,ID,United States,8000.0,"Lamb Weston Holdings, Inc. produces, distribut...",0.000398
358,NYQ,CLX,Clorox Company (The),The Clorox Company,Consumer Defensive,Household & Personal Products,142.56,17589766144,8.710000e+08,-0.037,Oakland,CA,United States,9000.0,The Clorox Company manufactures and markets co...,0.000496
314,NYQ,MKC,"McCormick & Company, Incorporat","McCormick & Company, Incorporated",Consumer Defensive,Packaged Foods,77.44,20703119360,1.136900e+09,0.030,Hunt Valley,MD,United States,14000.0,"McCormick & Company, Incorporated manufactures...",0.000584
319,NYQ,CHD,"Church & Dwight Company, Inc.","Church & Dwight Co., Inc.",Consumer Defensive,Household & Personal Products,83.20,20289816576,1.163100e+09,0.004,Ewing,NJ,United States,5100.0,"Church & Dwight Co., Inc. develops, manufactur...",0.000572
239,NYQ,BF-B,Brown Forman Inc,Brown-Forman Corporation,Consumer Defensive,Beverages—Wineries & Distilleries,66.25,31714934784,1.352000e+09,0.101,Louisville,KY,United States,5200.0,"Brown-Forman Corporation, together with its su...",0.000894

In [394]:
sp500_def_top_revenuegrowth = sp500_def.sort_values(by = "Revenuegrowth", ascending=False) 
sp500_def_top_5_revenuegrowth = sp500_def_top_revenuegrowth.head(5)

In [395]:
sp500_def_top_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
161,NYQ,ADM,Archer-Daniels-Midland Company,Archer-Daniels-Midland Company,Consumer Defensive,Farm Products,84.75,46556057600,5.277000e+09,0.214,Chicago,IL,United States,39218.0,"Archer-Daniels-Midland Company procures, trans...",0.001312
174,NYQ,HSY,The Hershey Company,The Hershey Company,Consumer Defensive,Confectioners,214.52,44191977472,2.561741e+09,0.193,Hershey,PA,United States,16620.0,"The Hershey Company, together with its subsidi...",0.001246
199,NYQ,SYY,Sysco Corporation,Sysco Corporation,Consumer Defensive,Food Distribution,77.83,39900016640,3.331546e+09,0.175,Houston,TX,United States,71000.0,"Sysco Corporation, through its subsidiaries, e...",0.001125
388,NYQ,CPB,Campbell Soup Company,Campbell Soup Company,Consumer Defensive,Packaged Foods,52.04,15584315392,1.598000e+09,0.152,Camden,NJ,United States,14700.0,"Campbell Soup Company, together with its subsi...",0.000439
405,NYQ,LW,"Lamb Weston Holdings, Inc.","Lamb Weston Holdings, Inc.",Consumer Defensive,Packaged Foods,96.56,14104326144,7.391000e+08,0.144,Eagle,ID,United States,8000.0,"Lamb Weston Holdings, Inc. produces, distribut...",0.000398

In [396]:
sp500_def_bottom_revenuegrowth = sp500_def.sort_values(by = "Revenuegrowth", ascending=True) 
sp500_def_bottom_5_revenuegrowth = sp500_def_bottom_revenuegrowth.head(5)

In [397]:
sp500_def_bottom_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
77,NYQ,EL,"Estee Lauder Companies, Inc. (T",The Estée Lauder Companies Inc.,Consumer Defensive,Household & Personal Products,267.56,95468617728,3.990000e+09,-0.105,New York,NY,United States,44730.0,"The Estée Lauder Companies Inc. manufactures, ...",0.002691
491,NMS,NWL,Newell Brands Inc.,Newell Brands Inc.,Consumer Defensive,Household & Personal Products,15.05,6402270208,1.390000e+09,-0.065,Atlanta,GA,United States,32000.0,"Newell Brands Inc. designs, manufactures, sour...",0.000180
358,NYQ,CLX,Clorox Company (The),The Clorox Company,Consumer Defensive,Household & Personal Products,142.56,17589766144,8.710000e+08,-0.037,Oakland,CA,United States,9000.0,The Clorox Company manufactures and markets co...,0.000496
93,NYQ,MO,"Altria Group, Inc.","Altria Group, Inc.",Consumer Defensive,Tobacco,44.94,80540114944,1.242600e+10,-0.022,Richmond,VA,United States,6000.0,"Altria Group, Inc., through its subsidiaries, ...",0.002271
43,NYQ,PM,Philip Morris International Inc,Philip Morris International Inc.,Consumer Defensive,Tobacco,101.82,158516428800,1.364600e+10,-0.011,New York,NY,United States,69600.0,Philip Morris International Inc. operates as a...,0.004469

In [281]:
# Real Estate

In [284]:
sp500_rea = sp500_companies.loc[sp500_companies["Sector"] =="Real Estate", :]

In [285]:
sp500_rea_top_marketcap = sp500_rea.sort_values(by = "Marketcap", ascending=False) 
sp500_rea_top_5_marketcap = sp500_rea_top_marketcap.head(5)

In [286]:
sp500_rea_top_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
73,NYQ,AMT,American Tower Corporation (REI,American Tower Corporation,Real Estate,REIT—Specialty,221.41,103089831936,6.350300e+09,0.088,Boston,MA,United States,6378.0,"American Tower Corporation, one of the largest...",0.002906
85,NYQ,PLD,"Prologis, Inc.","Prologis, Inc.",Real Estate,REIT—Industrial,122.82,90804142080,4.173039e+09,0.440,San Francisco,CA,United States,2053.0,"Prologis, Inc. is the global leader in logisti...",0.002560
115,NMS,EQIX,"Equinix, Inc.","Equinix, Inc.",Real Estate,REIT—Specialty,720.06,66632982528,2.438837e+09,0.075,Redwood City,CA,United States,11800.0,Equinix (Nasdaq: EQIX) is the world's digital ...,0.001878
122,NYQ,CCI,Crown Castle Inc.,Crown Castle Inc.,Real Estate,REIT—Specialty,148.12,64143069184,4.012000e+09,0.079,Houston,TX,United States,5000.0,"Crown Castle owns, operates and leases more th...",0.001808
148,NYQ,PSA,Public Storage,Public Storage,Real Estate,REIT—Industrial,289.10,50695135232,2.814520e+09,0.241,Glendale,CA,United States,5800.0,"Public Storage, a member of the S&P 500 and FT...",0.001429

In [287]:
sp500_rea_bottom_marketcap = sp500_rea.sort_values(by = "Marketcap", ascending=True) 
sp500_rea_bottom_5_marketcap = sp500_rea_bottom_marketcap.head(5)

In [288]:
sp500_rea_bottom_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
475,NYQ,FRT,Federal Realty Investment Trust,Federal Realty Investment Trust,Real Estate,REIT—Retail,107.65,8374040064,6.316950e+08,0.152,North Bethesda,MD,United States,310.0,Federal Realty is a recognized leader in the o...,0.000236
448,NMS,REG,Regency Centers Corporation,Regency Centers Corporation,Real Estate,REIT—Retail,64.35,11017555968,8.391710e+08,0.133,Jacksonville,FL,United States,432.0,Regency Centers is the preeminent national own...,0.000311
446,NYQ,BXP,"Boston Properties, Inc.","Boston Properties, Inc.",Real Estate,REIT—Office,71.20,11160955904,1.781875e+09,0.086,Boston,MA,United States,743.0,Boston Properties (NYSE:BXP) is the largest pu...,0.000315
435,NYQ,CPT,Camden Property Trust,Camden Property Trust,Real Estate,REIT—Residential,114.68,12216631296,8.032980e+08,0.247,Houston,TX,United States,1700.0,"Camden Property Trust, an S&P 400 Company, is ...",0.000344
431,NYQ,UDR,"UDR, Inc.","UDR, Inc.",Real Estate,REIT—Residential,39.98,12361255936,8.945530e+08,0.137,Highlands Ranch,CO,United States,1219.0,"UDR, Inc. (NYSE: UDR), an S&P 500 company, is ...",0.000348

In [289]:
sp500_rea_top_currentprice = sp500_rea.sort_values(by = "Currentprice", ascending=False) 
sp500_rea_top_5_currentprice = sp500_rea_top_currentprice.head(5)

In [290]:
sp500_rea_top_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
115,NMS,EQIX,"Equinix, Inc.","Equinix, Inc.",Real Estate,REIT—Specialty,720.06,66632982528,2.438837e+09,0.075,Redwood City,CA,United States,11800.0,Equinix (Nasdaq: EQIX) is the world's digital ...,0.001878
236,NMS,SBAC,SBA Communications Corporation,SBA Communications Corporation,Real Estate,REIT—Specialty,296.81,32287289344,1.588640e+09,0.133,Boca Raton,FL,United States,1596.0,SBA Communications Corporation is a first choi...,0.000910
148,NYQ,PSA,Public Storage,Public Storage,Real Estate,REIT—Industrial,289.10,50695135232,2.814520e+09,0.241,Glendale,CA,United States,5800.0,"Public Storage, a member of the S&P 500 and FT...",0.001429
73,NYQ,AMT,American Tower Corporation (REI,American Tower Corporation,Real Estate,REIT—Specialty,221.41,103089831936,6.350300e+09,0.088,Boston,MA,United States,6378.0,"American Tower Corporation, one of the largest...",0.002906
400,NYQ,ESS,"Essex Property Trust, Inc.","Essex Property Trust, Inc.",Real Estate,REIT—Residential,216.19,14490416128,1.078873e+09,0.084,San Mateo,CA,United States,1739.0,"Essex Property Trust, Inc., an S&P 500 company...",0.000409

In [291]:
sp500_rea_bottom_currentprice = sp500_rea.sort_values(by = "Currentprice", ascending=True) 
sp500_rea_bottom_5_currentprice = sp500_rea_bottom_currentprice.head(5)

In [292]:
sp500_rea_bottom_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
428,NMS,HST,Host Hotels,"Host Hotels & Resorts, Inc.",Real Estate,REIT—Hotel & Motel,17.61,12574156800,1.196000e+09,1.052,Bethesda,MD,United States,160.0,"Host Hotels & Resorts, Inc. is an S&P 500 comp...",0.000354
418,NYQ,KIM,Kimco Realty Corporation (HC),Kimco Realty Corporation,Real Estate,REIT—Retail,21.44,13216217088,1.053396e+09,0.478,Jericho,NY,United States,606.0,Kimco Realty Corp. (NYSE:KIM) is a real estate...,0.000373
401,NYQ,PEAK,"Healthpeak Properties, Inc.","Healthpeak Properties, Inc.",Real Estate,REIT—Healthcare Facilities,26.85,14474083328,1.037754e+09,0.088,Denver,CO,United States,196.0,"Healthpeak Properties, Inc. is a fully integra...",0.000408
337,NYQ,INVH,Invitation Homes Inc.,Invitation Homes Inc.,Real Estate,REIT—Residential,31.53,18816126976,1.255777e+09,0.114,Dallas,TX,United States,1240.0,Invitation Homes is the nation's premier singl...,0.000530
287,NYQ,WY,Weyerhaeuser Company,Weyerhaeuser Company,Real Estate,REIT—Specialty,32.03,23991910400,4.005000e+09,-0.054,Seattle,WA,United States,9200.0,"Weyerhaeuser Company, one of the world's large...",0.000676

In [293]:
sp500_rea_top_ebitda = sp500_rea.sort_values(by = "Ebitda", ascending=False) 
sp500_rea_top_5_ebitda = sp500_rea_top_ebitda.head(5)

In [294]:
sp500_rea_top_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
73,NYQ,AMT,American Tower Corporation (REI,American Tower Corporation,Real Estate,REIT—Specialty,221.41,103089831936,6.350300e+09,0.088,Boston,MA,United States,6378.0,"American Tower Corporation, one of the largest...",0.002906
85,NYQ,PLD,"Prologis, Inc.","Prologis, Inc.",Real Estate,REIT—Industrial,122.82,90804142080,4.173039e+09,0.440,San Francisco,CA,United States,2053.0,"Prologis, Inc. is the global leader in logisti...",0.002560
122,NYQ,CCI,Crown Castle Inc.,Crown Castle Inc.,Real Estate,REIT—Specialty,148.12,64143069184,4.012000e+09,0.079,Houston,TX,United States,5000.0,"Crown Castle owns, operates and leases more th...",0.001808
287,NYQ,WY,Weyerhaeuser Company,Weyerhaeuser Company,Real Estate,REIT—Specialty,32.03,23991910400,4.005000e+09,-0.054,Seattle,WA,United States,9200.0,"Weyerhaeuser Company, one of the world's large...",0.000676
196,NYQ,SPG,"Simon Property Group, Inc.","Simon Property Group, Inc.",Real Estate,REIT—Retail,123.65,40633741312,3.706455e+09,0.020,Indianapolis,IN,United States,2400.0,Simon is a real estate investment trust engage...,0.001146

In [295]:
sp500_rea_bottom_ebitda = sp500_rea.sort_values(by = "Ebitda", ascending=True) 
sp500_rea_bottom_5_ebitda = sp500_rea_bottom_ebitda.head(5)

In [296]:
sp500_rea_bottom_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
238,NMS,CSGP,"CoStar Group, Inc.","CoStar Group, Inc.",Real Estate,Real Estate Services,78.52,31933296640,611323008.0,0.115,Washington,DC,United States,4742.0,"CoStar Group, Inc. provides information, analy...",0.000900
475,NYQ,FRT,Federal Realty Investment Trust,Federal Realty Investment Trust,Real Estate,REIT—Retail,107.65,8374040064,631694976.0,0.152,North Bethesda,MD,United States,310.0,Federal Realty is a recognized leader in the o...,0.000236
435,NYQ,CPT,Camden Property Trust,Camden Property Trust,Real Estate,REIT—Residential,114.68,12216631296,803297984.0,0.247,Houston,TX,United States,1700.0,"Camden Property Trust, an S&P 400 Company, is ...",0.000344
448,NMS,REG,Regency Centers Corporation,Regency Centers Corporation,Real Estate,REIT—Retail,64.35,11017555968,839171008.0,0.133,Jacksonville,FL,United States,432.0,Regency Centers is the preeminent national own...,0.000311
431,NYQ,UDR,"UDR, Inc.","UDR, Inc.",Real Estate,REIT—Residential,39.98,12361255936,894553024.0,0.137,Highlands Ranch,CO,United States,1219.0,"UDR, Inc. (NYSE: UDR), an S&P 500 company, is ...",0.000348

In [297]:
sp500_rea_top_revenuegrowth = sp500_rea.sort_values(by = "Revenuegrowth", ascending=False) 
sp500_rea_top_5_revenuegrowth = sp500_rea_top_revenuegrowth.head(5)

In [298]:
sp500_rea_top_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
428,NMS,HST,Host Hotels,"Host Hotels & Resorts, Inc.",Real Estate,REIT—Hotel & Motel,17.61,12574156800,1.196000e+09,1.052,Bethesda,MD,United States,160.0,"Host Hotels & Resorts, Inc. is an S&P 500 comp...",0.000354
311,NYQ,VICI,VICI Properties Inc.,VICI Properties Inc.,Real Estate,REIT—Diversified,33.58,21120008192,1.210234e+09,1.000,New York,NY,United States,105.0,VICI Properties is an experiential real estate...,0.000595
208,NYQ,O,Realty Income Corporation,Realty Income Corporation,Real Estate,REIT—Retail,66.38,37555478528,2.572539e+09,0.735,San Diego,CA,United States,380.0,"Realty Income, The Monthly Dividend Company, i...",0.001059
418,NYQ,KIM,Kimco Realty Corporation (HC),Kimco Realty Corporation,Real Estate,REIT—Retail,21.44,13216217088,1.053396e+09,0.478,Jericho,NY,United States,606.0,Kimco Realty Corp. (NYSE:KIM) is a real estate...,0.000373
85,NYQ,PLD,"Prologis, Inc.","Prologis, Inc.",Real Estate,REIT—Industrial,122.82,90804142080,4.173039e+09,0.440,San Francisco,CA,United States,2053.0,"Prologis, Inc. is the global leader in logisti...",0.002560

In [299]:
sp500_rea_bottom_revenuegrowth = sp500_rea.sort_values(by = "Revenuegrowth", ascending=True) 
sp500_rea_bottom_5_revenuegrowth = sp500_rea_bottom_revenuegrowth.head(5)

In [300]:
sp500_rea_bottom_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
287,NYQ,WY,Weyerhaeuser Company,Weyerhaeuser Company,Real Estate,REIT—Specialty,32.03,23991910400,4.005000e+09,-0.054,Seattle,WA,United States,9200.0,"Weyerhaeuser Company, one of the world's large...",0.000676
241,NYQ,DLR,"Digital Realty Trust, Inc.","Digital Realty Trust, Inc.",Real Estate,REIT—Specialty,106.74,31362025472,2.153482e+09,0.005,Austin,TX,United States,3030.0,Digital Realty supports the world's leading en...,0.000884
196,NYQ,SPG,"Simon Property Group, Inc.","Simon Property Group, Inc.",Real Estate,REIT—Retail,123.65,40633741312,3.706455e+09,0.020,Indianapolis,IN,United States,2400.0,Simon is a real estate investment trust engage...,0.001146
115,NMS,EQIX,"Equinix, Inc.","Equinix, Inc.",Real Estate,REIT—Specialty,720.06,66632982528,2.438837e+09,0.075,Redwood City,CA,United States,11800.0,Equinix (Nasdaq: EQIX) is the world's digital ...,0.001878
122,NYQ,CCI,Crown Castle Inc.,Crown Castle Inc.,Real Estate,REIT—Specialty,148.12,64143069184,4.012000e+09,0.079,Houston,TX,United States,5000.0,"Crown Castle owns, operates and leases more th...",0.001808

In [301]:
# Utilities

In [302]:
sp500_util = sp500_companies.loc[sp500_companies["Sector"] =="Utilities", :]

In [398]:
sp500_util_top_marketcap = sp500_util.sort_values(by = "Marketcap", ascending=False) 
sp500_util_top_5_marketcap = sp500_util_top_marketcap.head(5)

In [399]:
sp500_util_top_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
41,NYQ,NEE,"NextEra Energy, Inc.","NextEra Energy, Inc.",Utilities,Utilities—Regulated Electric,81.82,160542294016,6.595000e+09,0.320,Juno Beach,FL,United States,15000.0,"NextEra Energy, Inc., through its subsidiaries...",0.004526
97,NYQ,DUK,Duke Energy Corporation (Holdin,Duke Energy Corporation,Utilities,Utilities—Regulated Electric,101.82,78407811072,1.199700e+10,0.146,Charlotte,NC,United States,27605.0,"Duke Energy Corporation, together with its sub...",0.002210
105,NYQ,SO,Southern Company (The),The Southern Company,Utilities,Utilities—Regulated Electric,67.12,71133782016,8.899000e+09,0.386,Atlanta,GA,United States,27027.0,"The Southern Company, through its subsidiaries...",0.002005
144,NYQ,D,"Dominion Energy, Inc.","Dominion Energy, Inc.",Utilities,Utilities—Regulated Electric,62.42,52013023232,7.295000e+09,0.381,Richmond,VA,United States,17100.0,"Dominion Energy, Inc. produces and distributes...",0.001466
149,NYQ,SRE,DBA Sempra,Sempra,Utilities,Utilities—Diversified,157.99,50452054016,4.923000e+09,0.294,San Diego,CA,United States,15390.0,Sempra operates as an energy-services holding ...,0.001422

In [400]:
sp500_util_bottom_marketcap = sp500_util.sort_values(by = "Marketcap", ascending=True) 
sp500_util_bottom_5_marketcap = sp500_util_bottom_marketcap.head(5)

In [401]:
sp500_util_bottom_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
482,NYQ,NRG,"NRG Energy, Inc.","NRG Energy, Inc.",Utilities,Utilities—Independent Power Producers,32.21,7886264320,6.167000e+09,0.389,Houston,TX,United States,6635.0,"NRG Energy, Inc., together with its subsidiari...",0.000222
474,NYQ,PNW,Pinnacle West Capital Corporati,Pinnacle West Capital Corporation,Utilities,Utilities—Regulated Electric,75.36,8502040064,1.636350e+09,0.061,Phoenix,AZ,United States,5872.0,"Pinnacle West Capital Corporation, through its...",0.000240
453,NYQ,NI,NiSource Inc,NiSource Inc.,Utilities,Utilities—Regulated Gas,27.21,10685502464,1.819600e+09,0.200,Merrillville,IN,United States,7272.0,"NiSource Inc., an energy holding company, oper...",0.000301
413,NMS,LNT,Alliant Energy Corporation,Alliant Energy Corporation,Utilities,Utilities—Regulated Electric,53.89,13527575552,1.556000e+09,0.108,Madison,WI,United States,3313.0,Alliant Energy Corporation operates as a utili...,0.000381
410,NMS,EVRG,"Evergy, Inc.","Evergy, Inc.",Utilities,Utilities—Regulated Electric,59.64,13689527296,2.250300e+09,0.181,Kansas City,MO,United States,4930.0,"Evergy, Inc., together with its subsidiaries, ...",0.000386

In [402]:
sp500_util_top_currentprice = sp500_util.sort_values(by = "Currentprice", ascending=False) 
sp500_util_top_5_currentprice = sp500_util_top_currentprice.head(5)

In [403]:
sp500_util_top_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
149,NYQ,SRE,DBA Sempra,Sempra,Utilities,Utilities—Diversified,157.99,50452054016,4.923000e+09,0.294,San Diego,CA,United States,15390.0,Sempra operates as an energy-services holding ...,0.001422
266,NYQ,AWK,"American Water Works Company, I","American Water Works Company, Inc.",Utilities,Utilities—Regulated Water,151.54,27554213888,1.954000e+09,-0.009,Camden,NJ,United States,6400.0,"American Water Works Company, Inc., through it...",0.000777
304,NYQ,DTE,DTE Energy Company,DTE Energy Company,Utilities,Utilities—Regulated Electric,113.97,22080776192,2.662000e+09,0.413,Detroit,MI,United States,10400.0,DTE Energy Company engages in the utility oper...,0.000622
385,NYQ,ATO,Atmos Energy Corporation,Atmos Energy Corporation,Utilities,Utilities—Regulated Gas,113.00,15934808064,1.464974e+09,0.271,Dallas,TX,United States,4791.0,"Atmos Energy Corporation, together with its su...",0.000449
299,NYQ,ETR,Entergy Corporation,Entergy Corporation,Utilities,Utilities—Regulated Electric,107.44,22666831872,3.622517e+09,0.258,New Orleans,LA,United States,12000.0,"Entergy Corporation, together with its subsidi...",0.000639

In [404]:
sp500_util_bottom_currentprice = sp500_util.sort_values(by = "Currentprice", ascending=True) 
sp500_util_bottom_5_currentprice = sp500_util_bottom_currentprice.head(5)

In [405]:
sp500_util_bottom_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
220,NYQ,PCG,Pacific Gas & Electric Co.,PG&E Corporation,Utilities,Utilities—Regulated Electric,15.65,35208429568,NaN,NaN,San Francisco,CA,United States,26000.0,"PG&E Corporation, through its subsidiary, Paci...",0.000993
348,NYQ,AES,The AES Corporation,The AES Corporation,Utilities,Utilities—Diversified,26.93,17987893248,3.440000e+09,0.195,Arlington,VA,United States,8450.0,The AES Corporation operates as a diversified ...,0.000507
453,NYQ,NI,NiSource Inc,NiSource Inc.,Utilities,Utilities—Regulated Gas,27.21,10685502464,1.819600e+09,0.200,Merrillville,IN,United States,7272.0,"NiSource Inc., an energy holding company, oper...",0.000301
305,NYQ,PPL,PPL Corporation,PPL Corporation,Utilities,Utilities—Regulated Electric,29.32,22010994688,2.585000e+09,0.317,Allentown,PA,United States,5607.0,"PPL Corporation, a utility holding company, de...",0.000621
335,NYQ,CNP,"CenterPoint Energy, Inc (Holdin","CenterPoint Energy, Inc.",Utilities,Utilities—Regulated Electric,30.11,18955329536,2.635000e+09,0.088,Houston,TX,United States,9418.0,"CenterPoint Energy, Inc. operates as a public ...",0.000534

In [406]:
sp500_util_top_ebitda = sp500_util.sort_values(by = "Ebitda", ascending=False) 
sp500_util_top_5_ebitda = sp500_util_top_ebitda.head(5)

In [407]:
sp500_util_top_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
97,NYQ,DUK,Duke Energy Corporation (Holdin,Duke Energy Corporation,Utilities,Utilities—Regulated Electric,101.82,78407811072,1.199700e+10,0.146,Charlotte,NC,United States,27605.0,"Duke Energy Corporation, together with its sub...",0.002210
105,NYQ,SO,Southern Company (The),The Southern Company,Utilities,Utilities—Regulated Electric,67.12,71133782016,8.899000e+09,0.386,Atlanta,GA,United States,27027.0,"The Southern Company, through its subsidiaries...",0.002005
144,NYQ,D,"Dominion Energy, Inc.","Dominion Energy, Inc.",Utilities,Utilities—Regulated Electric,62.42,52013023232,7.295000e+09,0.381,Richmond,VA,United States,17100.0,"Dominion Energy, Inc. produces and distributes...",0.001466
157,NMS,AEP,American Electric Power Company,"American Electric Power Company, Inc.",Utilities,Utilities—Regulated Electric,92.17,47362842624,7.076300e+09,0.195,Columbus,OH,United States,16688.0,"American Electric Power Company, Inc., an elec...",0.001335
41,NYQ,NEE,"NextEra Energy, Inc.","NextEra Energy, Inc.",Utilities,Utilities—Regulated Electric,81.82,160542294016,6.595000e+09,0.320,Juno Beach,FL,United States,15000.0,"NextEra Energy, Inc., through its subsidiaries...",0.004526

In [408]:
sp500_util_bottom_ebitda = sp500_util.sort_values(by = "Ebitda", ascending=True) 
sp500_util_bottom_5_ebitda = sp500_util_bottom_ebitda.head(5)

In [409]:
sp500_util_bottom_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
385,NYQ,ATO,Atmos Energy Corporation,Atmos Energy Corporation,Utilities,Utilities—Regulated Gas,113.00,15934808064,1.464974e+09,0.271,Dallas,TX,United States,4791.0,"Atmos Energy Corporation, together with its su...",0.000449
413,NMS,LNT,Alliant Energy Corporation,Alliant Energy Corporation,Utilities,Utilities—Regulated Electric,53.89,13527575552,1.556000e+09,0.108,Madison,WI,United States,3313.0,Alliant Energy Corporation operates as a utili...,0.000381
474,NYQ,PNW,Pinnacle West Capital Corporati,Pinnacle West Capital Corporation,Utilities,Utilities—Regulated Electric,75.36,8502040064,1.636350e+09,0.061,Phoenix,AZ,United States,5872.0,"Pinnacle West Capital Corporation, through its...",0.000240
453,NYQ,NI,NiSource Inc,NiSource Inc.,Utilities,Utilities—Regulated Gas,27.21,10685502464,1.819600e+09,0.200,Merrillville,IN,United States,7272.0,"NiSource Inc., an energy holding company, oper...",0.000301
269,NMS,CEG,Constellation Energy Corporatio,Constellation Energy Corporation,Utilities,Utilities—Renewable,83.00,27142492160,1.821000e+09,0.373,Baltimore,MD,United States,11696.0,Constellation Energy Corporation generates and...,0.000765

In [410]:
sp500_util_top_revenuegrowth = sp500_util.sort_values(by = "Revenuegrowth", ascending=False) 
sp500_util_top_5_revenuegrowth = sp500_util_top_revenuegrowth.head(5)

In [411]:
sp500_util_top_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
304,NYQ,DTE,DTE Energy Company,DTE Energy Company,Utilities,Utilities—Regulated Electric,113.97,22080776192,2.662000e+09,0.413,Detroit,MI,United States,10400.0,DTE Energy Company engages in the utility oper...,0.000622
482,NYQ,NRG,"NRG Energy, Inc.","NRG Energy, Inc.",Utilities,Utilities—Independent Power Producers,32.21,7886264320,6.167000e+09,0.389,Houston,TX,United States,6635.0,"NRG Energy, Inc., together with its subsidiari...",0.000222
105,NYQ,SO,Southern Company (The),The Southern Company,Utilities,Utilities—Regulated Electric,67.12,71133782016,8.899000e+09,0.386,Atlanta,GA,United States,27027.0,"The Southern Company, through its subsidiaries...",0.002005
144,NYQ,D,"Dominion Energy, Inc.","Dominion Energy, Inc.",Utilities,Utilities—Regulated Electric,62.42,52013023232,7.295000e+09,0.381,Richmond,VA,United States,17100.0,"Dominion Energy, Inc. produces and distributes...",0.001466
269,NMS,CEG,Constellation Energy Corporatio,Constellation Energy Corporation,Utilities,Utilities—Renewable,83.00,27142492160,1.821000e+09,0.373,Baltimore,MD,United States,11696.0,Constellation Energy Corporation generates and...,0.000765

In [413]:
sp500_util_bottom_revenuegrowth = sp500_util.sort_values(by = "Revenuegrowth", ascending=True) 
sp500_util_bottom_5_revenuegrowth = sp500_util_bottom_revenuegrowth.head(5)

In [415]:
sp500_util_bottom_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
278,NYQ,EIX,Edison International,Edison International,Utilities,Utilities—Regulated Electric,66.73,25482520576,5.298000e+09,-0.013,Rosemead,CA,United States,13003.0,"Edison International, through its subsidiaries...",0.000718
266,NYQ,AWK,"American Water Works Company, I","American Water Works Company, Inc.",Utilities,Utilities—Regulated Water,151.54,27554213888,1.954000e+09,-0.009,Camden,NJ,United States,6400.0,"American Water Works Company, Inc., through it...",0.000777
187,NMS,EXC,Exelon Corporation,Exelon Corporation,Utilities,Utilities—Regulated Electric,42.34,42075037696,6.318000e+09,-0.004,Chicago,IL,United States,31518.0,"Exelon Corporation, a utility services holding...",0.001186
474,NYQ,PNW,Pinnacle West Capital Corporati,Pinnacle West Capital Corporation,Utilities,Utilities—Regulated Electric,75.36,8502040064,1.636350e+09,0.061,Phoenix,AZ,United States,5872.0,"Pinnacle West Capital Corporation, through its...",0.000240
335,NYQ,CNP,"CenterPoint Energy, Inc (Holdin","CenterPoint Energy, Inc.",Utilities,Utilities—Regulated Electric,30.11,18955329536,2.635000e+09,0.088,Houston,TX,United States,9418.0,"CenterPoint Energy, Inc. operates as a public ...",0.000534

In [416]:
# Energy

In [418]:
sp500_nrg = sp500_companies.loc[sp500_companies["Sector"] =="Energy", :]

In [419]:
sp500_nrg_top_marketcap = sp500_nrg.sort_values(by = "Marketcap", ascending=False) 
sp500_nrg_top_5_marketcap = sp500_nrg_top_marketcap.head(5)

In [420]:
sp500_nrg_top_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
6,NYQ,XOM,Exxon Mobil Corporation,Exxon Mobil Corporation,Energy,Oil & Gas Integrated,113.35,482948055040,6.970800e+10,0.689,Irving,TX,United States,63000.0,Exxon Mobil Corporation explores for and produ...,0.013615
13,NYQ,CVX,Chevron Corporation,Chevron Corporation,Energy,Oil & Gas Integrated,180.90,349795450880,5.292900e+10,0.492,San Ramon,CA,United States,42595.0,"Chevron Corporation, through its subsidiaries,...",0.009861
46,NYQ,COP,ConocoPhillips,ConocoPhillips,Energy,Oil & Gas E&P,121.80,151771332608,3.428800e+10,0.865,Houston,TX,United States,9400.0,"ConocoPhillips explores for, produces, transpo...",0.004279
94,NYQ,SLB,Schlumberger N.V.,Schlumberger Limited,Energy,Oil & Gas Equipment & Services,57.35,80440827904,5.407000e+09,0.279,Houston,TX,United States,92000.0,Schlumberger Limited provides technology for t...,0.002268
98,NYQ,EOG,"EOG Resources, Inc.","EOG Resources, Inc.",Energy,Oil & Gas E&P,132.75,77976027136,1.357600e+10,0.452,Houston,TX,United States,2800.0,"EOG Resources, Inc., together with its subsidi...",0.002198

In [421]:
sp500_nrg_bottom_marketcap = sp500_nrg.sort_values(by = "Marketcap", ascending=True) 
sp500_nrg_bottom_5_marketcap = sp500_nrg_bottom_marketcap.head(5)

In [422]:
sp500_nrg_bottom_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
429,NYQ,EQT,EQT Corporation,EQT Corporation,Energy,Oil & Gas E&P,33.95,12461212672,5.284966e+09,NaN,Pittsburgh,PA,United States,693.0,EQT Corporation operates as a natural gas prod...,0.000351
399,NMS,APA,APA Corporation,APA Corporation,Energy,Oil & Gas E&P,45.09,14496975872,6.414000e+09,0.374,Houston,TX,United States,2253.0,"APA Corporation, through its subsidiaries, exp...",0.000409
366,NYQ,TRGP,"Targa Resources, Inc.",Targa Resources Corp.,Energy,Oil & Gas Midstream,75.66,17324021760,2.413000e+09,0.773,Houston,TX,United States,2430.0,"Targa Resources Corp., together with its subsi...",0.000488
321,NYQ,CTRA,Coterra Energy Inc.,Coterra Energy Inc.,Energy,Oil & Gas E&P,25.62,20200525824,6.879000e+09,3.053,Houston,TX,United States,936.0,"Coterra Energy Inc., an independent oil and ga...",0.000569
307,NYQ,MRO,Marathon Oil Corporation,Marathon Oil Corporation,Energy,Oil & Gas E&P,27.88,21705611264,4.760000e+09,0.731,Houston,TX,United States,1531.0,Marathon Oil Corporation operates as an indepe...,0.000612

In [423]:
sp500_nrg_top_currentprice = sp500_nrg.sort_values(by = "Currentprice", ascending=False) 
sp500_nrg_top_5_currentprice = sp500_nrg_top_currentprice.head(5)

In [424]:
sp500_nrg_top_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
136,NYQ,PXD,Pioneer Natural Resources Compa,Pioneer Natural Resources Company,Energy,Oil & Gas E&P,239.40,58445676544,1.164800e+10,0.641,Irving,TX,United States,1932.0,Pioneer Natural Resources Company operates as ...,0.001648
13,NYQ,CVX,Chevron Corporation,Chevron Corporation,Energy,Oil & Gas Integrated,180.90,349795450880,5.292900e+10,0.492,San Ramon,CA,United States,42595.0,"Chevron Corporation, through its subsidiaries,...",0.009861
156,NYQ,HES,Hess Corporation,Hess Corporation,Energy,Oil & Gas E&P,154.80,47945740288,5.226000e+09,0.776,New York,NY,United States,1545.0,"Hess Corporation, an exploration and productio...",0.001352
272,NMS,FANG,"Diamondback Energy, Inc.","Diamondback Energy, Inc.",Energy,Oil & Gas E&P,147.55,26842150912,7.306000e+09,0.304,Midland,TX,United States,870.0,"Diamondback Energy, Inc., an independent oil a...",0.000757
137,NYQ,VLO,Valero Energy Corporation,Valero Energy Corporation,Energy,Oil & Gas Refining & Marketing,142.73,58353160192,1.545000e+10,0.593,San Antonio,TX,United States,9794.0,"Valero Energy Corporation manufactures, market...",0.001645

In [425]:
sp500_nrg_bottom_currentprice = sp500_nrg.sort_values(by = "Currentprice", ascending=True) 
sp500_nrg_bottom_5_currentprice = sp500_nrg_bottom_currentprice.head(5)

In [426]:
sp500_nrg_bottom_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
185,NYQ,KMI,"Kinder Morgan, Inc.","Kinder Morgan, Inc.",Energy,Oil & Gas Midstream,18.64,42264891392,6.028000e+09,0.354,Houston,TX,United States,10529.0,"Kinder Morgan, Inc. operates as an energy infr...",0.001191
321,NYQ,CTRA,Coterra Energy Inc.,Coterra Energy Inc.,Energy,Oil & Gas E&P,25.62,20200525824,6.879000e+09,3.053,Houston,TX,United States,936.0,"Coterra Energy Inc., an independent oil and ga...",0.000569
307,NYQ,MRO,Marathon Oil Corporation,Marathon Oil Corporation,Energy,Oil & Gas E&P,27.88,21705611264,4.760000e+09,0.731,Houston,TX,United States,1531.0,Marathon Oil Corporation operates as an indepe...,0.000612
242,NMS,BKR,Baker Hughes Company,Baker Hughes Company,Energy,Oil & Gas Equipment & Services,31.07,31333163008,2.757000e+09,0.054,Houston,TX,United States,55000.0,Baker Hughes Company provides a portfolio of t...,0.000883
206,NYQ,WMB,"Williams Companies, Inc. (The)","The Williams Companies, Inc.",Energy,Oil & Gas Midstream,31.46,38224842752,4.374000e+09,0.091,Tulsa,OK,United States,4783.0,"The Williams Companies, Inc., together with it...",0.001078

In [427]:
sp500_nrg_top_ebitda = sp500_nrg.sort_values(by = "Ebitda", ascending=False) 
sp500_nrg_top_5_ebitda = sp500_nrg_top_ebitda.head(5)

In [428]:
sp500_nrg_top_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
6,NYQ,XOM,Exxon Mobil Corporation,Exxon Mobil Corporation,Energy,Oil & Gas Integrated,113.35,482948055040,6.970800e+10,0.689,Irving,TX,United States,63000.0,Exxon Mobil Corporation explores for and produ...,0.013615
13,NYQ,CVX,Chevron Corporation,Chevron Corporation,Energy,Oil & Gas Integrated,180.90,349795450880,5.292900e+10,0.492,San Ramon,CA,United States,42595.0,"Chevron Corporation, through its subsidiaries,...",0.009861
46,NYQ,COP,ConocoPhillips,ConocoPhillips,Energy,Oil & Gas E&P,121.80,151771332608,3.428800e+10,0.865,Houston,TX,United States,9400.0,"ConocoPhillips explores for, produces, transpo...",0.004279
129,NYQ,OXY,Occidental Petroleum Corporatio,Occidental Petroleum Corporation,Energy,Oil & Gas E&P,66.91,62492672000,1.888200e+10,0.792,Houston,TX,United States,11678.0,"Occidental Petroleum Corporation, together wit...",0.001762
102,NYQ,MPC,Marathon Petroleum Corporation,Marathon Petroleum Corporation,Energy,Oil & Gas Refining & Marketing,125.72,77391716352,1.581400e+10,0.818,Findlay,OH,United States,17700.0,"Marathon Petroleum Corporation, together with ...",0.002182

In [429]:
sp500_nrg_bottom_ebitda = sp500_nrg.sort_values(by = "Ebitda", ascending=True) 
sp500_nrg_bottom_5_ebitda = sp500_nrg_bottom_ebitda.head(5)

In [430]:
sp500_nrg_bottom_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
366,NYQ,TRGP,"Targa Resources, Inc.",Targa Resources Corp.,Energy,Oil & Gas Midstream,75.66,17324021760,2.413000e+09,0.773,Houston,TX,United States,2430.0,"Targa Resources Corp., together with its subsi...",0.000488
242,NMS,BKR,Baker Hughes Company,Baker Hughes Company,Energy,Oil & Gas Equipment & Services,31.07,31333163008,2.757000e+09,0.054,Houston,TX,United States,55000.0,Baker Hughes Company provides a portfolio of t...,0.000883
245,NYQ,OKE,"ONEOK, Inc.","ONEOK, Inc.",Energy,Oil & Gas Midstream,69.71,31086266368,3.265834e+09,0.769,Tulsa,OK,United States,2847.0,"ONEOK, Inc., together with its subsidiaries, e...",0.000876
215,NYQ,HAL,Halliburton Company,Halliburton Company,Energy,Oil & Gas Equipment & Services,40.69,36422270976,3.546000e+09,0.388,Houston,TX,United States,40000.0,Halliburton Company provides products and serv...,0.001027
206,NYQ,WMB,"Williams Companies, Inc. (The)","The Williams Companies, Inc.",Energy,Oil & Gas Midstream,31.46,38224842752,4.374000e+09,0.091,Tulsa,OK,United States,4783.0,"The Williams Companies, Inc., together with it...",0.001078

In [431]:
sp500_nrg_top_revenuegrowth = sp500_nrg.sort_values(by = "Revenuegrowth", ascending=False) 
sp500_nrg_top_5_revenuegrowth = sp500_nrg_top_revenuegrowth.head(5)

In [432]:
sp500_nrg_top_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
321,NYQ,CTRA,Coterra Energy Inc.,Coterra Energy Inc.,Energy,Oil & Gas E&P,25.62,20200525824,6.879000e+09,3.053,Houston,TX,United States,936.0,"Coterra Energy Inc., an independent oil and ga...",0.000569
46,NYQ,COP,ConocoPhillips,ConocoPhillips,Energy,Oil & Gas E&P,121.80,151771332608,3.428800e+10,0.865,Houston,TX,United States,9400.0,"ConocoPhillips explores for, produces, transpo...",0.004279
102,NYQ,MPC,Marathon Petroleum Corporation,Marathon Petroleum Corporation,Energy,Oil & Gas Refining & Marketing,125.72,77391716352,1.581400e+10,0.818,Findlay,OH,United States,17700.0,"Marathon Petroleum Corporation, together with ...",0.002182
158,NYQ,PSX,Phillips 66,Phillips 66,Energy,Oil & Gas Refining & Marketing,106.96,46870085632,7.176000e+09,0.799,Houston,TX,United States,14000.0,Phillips 66 operates as an energy manufacturin...,0.001321
129,NYQ,OXY,Occidental Petroleum Corporatio,Occidental Petroleum Corporation,Energy,Oil & Gas E&P,66.91,62492672000,1.888200e+10,0.792,Houston,TX,United States,11678.0,"Occidental Petroleum Corporation, together wit...",0.001762

In [433]:
sp500_nrg_bottom_revenuegrowth = sp500_nrg.sort_values(by = "Revenuegrowth", ascending=True) 
sp500_nrg_bottom_5_revenuegrowth = sp500_nrg_bottom_revenuegrowth.head(5)

In [434]:
sp500_nrg_bottom_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
242,NMS,BKR,Baker Hughes Company,Baker Hughes Company,Energy,Oil & Gas Equipment & Services,31.07,31333163008,2.757000e+09,0.054,Houston,TX,United States,55000.0,Baker Hughes Company provides a portfolio of t...,0.000883
206,NYQ,WMB,"Williams Companies, Inc. (The)","The Williams Companies, Inc.",Energy,Oil & Gas Midstream,31.46,38224842752,4.374000e+09,0.091,Tulsa,OK,United States,4783.0,"The Williams Companies, Inc., together with it...",0.001078
94,NYQ,SLB,Schlumberger N.V.,Schlumberger Limited,Energy,Oil & Gas Equipment & Services,57.35,80440827904,5.407000e+09,0.279,Houston,TX,United States,92000.0,Schlumberger Limited provides technology for t...,0.002268
184,NYQ,DVN,Devon Energy Corporation,Devon Energy Corporation,Energy,Oil & Gas E&P,64.75,42327072768,1.038100e+10,0.298,Oklahoma City,OK,United States,1600.0,"Devon Energy Corporation, an independent energ...",0.001193
272,NMS,FANG,"Diamondback Energy, Inc.","Diamondback Energy, Inc.",Energy,Oil & Gas E&P,147.55,26842150912,7.306000e+09,0.304,Midland,TX,United States,870.0,"Diamondback Energy, Inc., an independent oil a...",0.000757

In [435]:
# Communication Services

In [436]:
sp500_comserv = sp500_companies.loc[sp500_companies["Sector"] =="Communication Services", :]

In [437]:
sp500_comserv_top_marketcap = sp500_comserv.sort_values(by = "Marketcap", ascending=False) 
sp500_comserv_top_5_marketcap = sp500_comserv_top_marketcap.head(5)

In [438]:
sp500_comserv_top_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
2,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,99.28,1276343746560,9.373300e+10,0.061,Mountain View,CA,United States,186779.0,Alphabet Inc. provides various products and pl...,0.035982
3,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,98.02,1276337979392,9.373300e+10,0.061,Mountain View,CA,United States,186779.0,Alphabet Inc. provides various products and pl...,0.035981
32,NYQ,DIS,Walt Disney Company (The),The Walt Disney Company,Communication Services,Entertainment,103.48,188705095680,1.199500e+10,0.087,Burbank,CA,United States,171600.0,"The Walt Disney Company, together with its sub...",0.005320
33,NMS,TMUS,"T-Mobile US, Inc.","T-Mobile US, Inc.",Communication Services,Telecom Services,145.12,181262123008,2.578600e+10,-0.012,Bellevue,WA,United States,75000.0,"T-Mobile US, Inc., together with its subsidiar...",0.005110
37,NMS,CMCSA,Comcast Corporation,Comcast Corporation,Communication Services,Telecom Services,39.37,170212638720,3.684600e+10,-0.015,Philadelphia,PA,United States,189000.0,Comcast Corporation operates as a media and te...,0.004798

In [439]:
sp500_comserv_bottom_marketcap = sp500_comserv.sort_values(by = "Marketcap", ascending=True) 
sp500_comserv_bottom_5_marketcap = sp500_comserv_bottom_marketcap.head(5)

In [440]:
sp500_comserv_bottom_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
494,NYQ,LUMN,"Lumen Technologies, Inc.","Lumen Technologies, Inc.",Communication Services,Telecom Services,5.22,5344705536,7.419000e+09,-0.063,Monroe,LA,United States,35000.0,"Lumen Technologies, Inc., a facilities-based t...",0.000151
485,NMS,DISH,DISH Network Corporation,DISH Network Corporation,Communication Services,Telecom Services,13.90,7376813056,3.074426e+09,-0.080,Englewood,CO,United States,14500.0,"DISH Network Corporation, together with its su...",0.000208
443,NMS,NWSA,News Corporation,News Corporation,Communication Services,Entertainment,19.26,11440921600,1.418000e+09,0.073,New York,NY,United States,25500.0,"News Corporation, a media and information serv...",0.000323
440,NMS,NWS,News Corporation,News Corporation,Communication Services,Entertainment,19.64,11569334272,1.418000e+09,0.073,New York,NY,United States,25500.0,"News Corporation, a media and information serv...",0.000326
433,NMS,TTWO,"Take-Two Interactive Software,","Take-Two Interactive Software, Inc.",Communication Services,Electronic Gaming & Multimedia,106.59,12289826816,7.524680e+08,0.355,New York,NY,United States,7799.0,"Take-Two Interactive Software, Inc. develops, ...",0.000346

In [441]:
sp500_comserv_top_currentprice = sp500_comserv.sort_values(by = "Currentprice", ascending=False) 
sp500_comserv_top_5_currentprice = sp500_comserv_top_currentprice.head(5)

In [442]:
sp500_comserv_top_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
132,NMS,CHTR,"Charter Communications, Inc.","Charter Communications, Inc.",Communication Services,Telecom Services,396.11,61663232000,2.142500e+10,0.031,Stamford,CT,United States,93700.0,"Charter Communications, Inc. operates as a bro...",0.001738
47,NMS,NFLX,"Netflix, Inc.","Netflix, Inc.",Communication Services,Entertainment,342.50,151711055872,6.021976e+09,0.059,Los Gatos,CA,United States,11300.0,"Netflix, Inc. provides entertainment services....",0.004277
33,NMS,TMUS,"T-Mobile US, Inc.","T-Mobile US, Inc.",Communication Services,Telecom Services,145.12,181262123008,2.578600e+10,-0.012,Bellevue,WA,United States,75000.0,"T-Mobile US, Inc., together with its subsidiar...",0.005110
221,NMS,EA,Electronic Arts Inc.,Electronic Arts Inc.,Communication Services,Electronic Gaming & Multimedia,125.99,35030888448,1.882000e+09,0.043,Redwood City,CA,United States,12900.0,"Electronic Arts Inc. develops, markets, publis...",0.000988
433,NMS,TTWO,"Take-Two Interactive Software,","Take-Two Interactive Software, Inc.",Communication Services,Electronic Gaming & Multimedia,106.59,12289826816,7.524680e+08,0.355,New York,NY,United States,7799.0,"Take-Two Interactive Software, Inc. develops, ...",0.000346

In [443]:
sp500_comserv_bottom_currentprice = sp500_comserv.sort_values(by = "Currentprice", ascending=True) 
sp500_comserv_bottom_5_currentprice = sp500_comserv_bottom_currentprice.head(5)

In [444]:
sp500_comserv_bottom_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
494,NYQ,LUMN,"Lumen Technologies, Inc.","Lumen Technologies, Inc.",Communication Services,Telecom Services,5.22,5344705536,7.419000e+09,-0.063,Monroe,LA,United States,35000.0,"Lumen Technologies, Inc., a facilities-based t...",0.000151
485,NMS,DISH,DISH Network Corporation,DISH Network Corporation,Communication Services,Telecom Services,13.90,7376813056,3.074426e+09,-0.080,Englewood,CO,United States,14500.0,"DISH Network Corporation, together with its su...",0.000208
55,NYQ,T,AT&T Inc.,AT&T Inc.,Communication Services,Telecom Services,19.23,137052209152,5.300700e+10,-0.041,Dallas,TX,United States,169880.0,"AT&T Inc. provides telecommunications, media, ...",0.003864
443,NMS,NWSA,News Corporation,News Corporation,Communication Services,Entertainment,19.26,11440921600,1.418000e+09,0.073,New York,NY,United States,25500.0,"News Corporation, a media and information serv...",0.000323
440,NMS,NWS,News Corporation,News Corporation,Communication Services,Entertainment,19.64,11569334272,1.418000e+09,0.073,New York,NY,United States,25500.0,"News Corporation, a media and information serv...",0.000326

In [445]:
sp500_comserv_top_ebitda = sp500_comserv.sort_values(by = "Ebitda", ascending=False) 
sp500_comserv_top_5_ebitda = sp500_comserv_top_ebitda.head(5)

In [446]:
sp500_comserv_top_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
2,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,99.28,1276343746560,9.373300e+10,0.061,Mountain View,CA,United States,186779.0,Alphabet Inc. provides various products and pl...,0.035982
3,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,98.02,1276337979392,9.373300e+10,0.061,Mountain View,CA,United States,186779.0,Alphabet Inc. provides various products and pl...,0.035981
55,NYQ,T,AT&T Inc.,AT&T Inc.,Communication Services,Telecom Services,19.23,137052209152,5.300700e+10,-0.041,Dallas,TX,United States,169880.0,"AT&T Inc. provides telecommunications, media, ...",0.003864
39,NYQ,VZ,Verizon Communications Inc.,Verizon Communications Inc.,Communication Services,Telecom Services,40.00,167910408192,4.394200e+10,0.040,New York,NY,United States,119500.0,"Verizon Communications Inc., through its subsi...",0.004734
37,NMS,CMCSA,Comcast Corporation,Comcast Corporation,Communication Services,Telecom Services,39.37,170212638720,3.684600e+10,-0.015,Philadelphia,PA,United States,189000.0,Comcast Corporation operates as a media and te...,0.004798

In [447]:
sp500_comserv_bottom_ebitda = sp500_comserv.sort_values(by = "Ebitda", ascending=True) 
sp500_comserv_bottom_5_ebitda = sp500_comserv_bottom_ebitda.head(5)

In [448]:
sp500_comserv_bottom_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
433,NMS,TTWO,"Take-Two Interactive Software,","Take-Two Interactive Software, Inc.",Communication Services,Electronic Gaming & Multimedia,106.59,12289826816,7.524680e+08,0.355,New York,NY,United States,7799.0,"Take-Two Interactive Software, Inc. develops, ...",0.000346
373,NYQ,LYV,"Live Nation Entertainment, Inc.","Live Nation Entertainment, Inc.",Communication Services,Entertainment,75.11,16874212352,7.734870e+08,6.699,Beverly Hills,CA,United States,10200.0,"Live Nation Entertainment, Inc. operates as a ...",0.000476
403,NMS,MTCH,"Match Group, Inc.","Match Group, Inc.",Communication Services,Internet Content & Information,50.42,14273144832,9.759490e+08,0.123,Dallas,TX,United States,2500.0,"Match Group, Inc. provides dating products wor...",0.000402
443,NMS,NWSA,News Corporation,News Corporation,Communication Services,Entertainment,19.26,11440921600,1.418000e+09,0.073,New York,NY,United States,25500.0,"News Corporation, a media and information serv...",0.000323
440,NMS,NWS,News Corporation,News Corporation,Communication Services,Entertainment,19.64,11569334272,1.418000e+09,0.073,New York,NY,United States,25500.0,"News Corporation, a media and information serv...",0.000326

In [449]:
sp500_comserv_top_revenuegrowth = sp500_comserv.sort_values(by = "Revenuegrowth", ascending=False) 
sp500_comserv_top_5_revenuegrowth = sp500_comserv_top_revenuegrowth.head(5)

In [450]:
sp500_comserv_top_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
373,NYQ,LYV,"Live Nation Entertainment, Inc.","Live Nation Entertainment, Inc.",Communication Services,Entertainment,75.11,16874212352,7.734870e+08,6.699,Beverly Hills,CA,United States,10200.0,"Live Nation Entertainment, Inc. operates as a ...",0.000476
433,NMS,TTWO,"Take-Two Interactive Software,","Take-Two Interactive Software, Inc.",Communication Services,Electronic Gaming & Multimedia,106.59,12289826816,7.524680e+08,0.355,New York,NY,United States,7799.0,"Take-Two Interactive Software, Inc. develops, ...",0.000346
403,NMS,MTCH,"Match Group, Inc.","Match Group, Inc.",Communication Services,Internet Content & Information,50.42,14273144832,9.759490e+08,0.123,Dallas,TX,United States,2500.0,"Match Group, Inc. provides dating products wor...",0.000402
32,NYQ,DIS,Walt Disney Company (The),The Walt Disney Company,Communication Services,Entertainment,103.48,188705095680,1.199500e+10,0.087,Burbank,CA,United States,171600.0,"The Walt Disney Company, together with its sub...",0.005320
443,NMS,NWSA,News Corporation,News Corporation,Communication Services,Entertainment,19.26,11440921600,1.418000e+09,0.073,New York,NY,United States,25500.0,"News Corporation, a media and information serv...",0.000323

In [451]:
sp500_comserv_bottom_revenuegrowth = sp500_comserv.sort_values(by = "Revenuegrowth", ascending=True) 
sp500_comserv_bottom_5_revenuegrowth = sp500_comserv_bottom_revenuegrowth.head(5)

In [452]:
sp500_comserv_bottom_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
138,NMS,ATVI,"Activision Blizzard, Inc","Activision Blizzard, Inc.",Communication Services,Electronic Gaming & Multimedia,73.84,57789030400,2.175000e+09,-0.139,Santa Monica,CA,United States,9800.0,"Activision Blizzard, Inc., together with its s...",0.001629
485,NMS,DISH,DISH Network Corporation,DISH Network Corporation,Communication Services,Telecom Services,13.90,7376813056,3.074426e+09,-0.080,Englewood,CO,United States,14500.0,"DISH Network Corporation, together with its su...",0.000208
494,NYQ,LUMN,"Lumen Technologies, Inc.","Lumen Technologies, Inc.",Communication Services,Telecom Services,5.22,5344705536,7.419000e+09,-0.063,Monroe,LA,United States,35000.0,"Lumen Technologies, Inc., a facilities-based t...",0.000151
55,NYQ,T,AT&T Inc.,AT&T Inc.,Communication Services,Telecom Services,19.23,137052209152,5.300700e+10,-0.041,Dallas,TX,United States,169880.0,"AT&T Inc. provides telecommunications, media, ...",0.003864
37,NMS,CMCSA,Comcast Corporation,Comcast Corporation,Communication Services,Telecom Services,39.37,170212638720,3.684600e+10,-0.015,Philadelphia,PA,United States,189000.0,Comcast Corporation operates as a media and te...,0.004798

In [453]:
# Basic Materials

In [454]:
sp500_bam = sp500_companies.loc[sp500_companies["Sector"] =="Basic Materials", :]

In [455]:
sp500_bam_top_marketcap = sp500_bam.sort_values(by = "Marketcap", ascending=False) 
sp500_bam_top_5_marketcap = sp500_bam_top_marketcap.head(5)

In [456]:
sp500_bam_top_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
38,NYQ,LIN,Linde plc,Linde plc,Basic Materials,Specialty Chemicals,328.62,168435826688,1.055200e+10,0.115,Woking,NaN,United Kingdom,72438.0,Linde plc operates as an industrial gas and en...,0.004748
110,NYQ,APD,"Air Products and Chemicals, Inc","Air Products and Chemicals, Inc.",Basic Materials,Specialty Chemicals,304.40,67573145600,3.796600e+09,0.257,Allentown,PA,United States,19710.0,"Air Products and Chemicals, Inc. provides atmo...",0.001905
114,NYQ,FCX,"Freeport-McMoRan, Inc.",Freeport-McMoRan Inc.,Basic Materials,Copper,45.41,66683224064,1.001400e+10,-0.178,Phoenix,AZ,United States,24700.0,Freeport-McMoRan Inc. engages in the mining of...,0.001880
121,NYQ,SHW,Sherwin-Williams Company (The),The Sherwin-Williams Company,Basic Materials,Specialty Chemicals,245.31,64319299584,3.328400e+09,0.175,Cleveland,OH,United States,61000.0,"The Sherwin-Williams Company develops, manufac...",0.001813
171,NYQ,CTVA,"Corteva, Inc.","Corteva, Inc.",Basic Materials,Agricultural Inputs,62.36,44555722752,3.574000e+09,0.171,Indianapolis,IN,United States,21000.0,"Corteva, Inc. operates in the agriculture busi...",0.001256

In [457]:
sp500_bam_bottom_marketcap = sp500_bam.sort_values(by = "Marketcap", ascending=True) 
sp500_bam_bottom_5_marketcap = sp500_bam_bottom_marketcap.head(5)

In [458]:
sp500_bam_bottom_5_marketcap

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
451,NYQ,EMN,Eastman Chemical Company,Eastman Chemical Company,Basic Materials,Specialty Chemicals,89.82,10777501696,2.217000e+09,-0.004,Kingsport,TN,United States,14000.0,Eastman Chemical Company operates as a special...,0.000304
420,NYQ,CE,Celanese Corporation Celanese C,Celanese Corporation,Basic Materials,Chemicals,121.59,13183760384,2.333000e+09,0.015,Irving,TX,United States,8500.0,"Celanese Corporation, a technology and special...",0.000372
377,NYQ,FMC,FMC Corporation,FMC Corporation,Basic Materials,Agricultural Inputs,128.20,16249478144,1.384200e+09,0.169,Philadelphia,PA,United States,6400.0,"FMC Corporation, an agricultural sciences comp...",0.000458
371,NYQ,CF,"CF Industries Holdings, Inc.","CF Industries Holdings, Inc.",Basic Materials,Agricultural Inputs,86.48,16966424576,6.448000e+09,0.704,Deerfield,IL,United States,2970.0,"CF Industries Holdings, Inc. manufactures and ...",0.000478
354,NYQ,MOS,Mosaic Company (The),The Mosaic Company,Basic Materials,Agricultural Inputs,48.01,17783382016,5.575000e+09,0.918,Tampa,FL,United States,12525.0,"The Mosaic Company, through its subsidiaries, ...",0.000501

In [459]:
sp500_bam_top_currentprice = sp500_bam.sort_values(by = "Currentprice", ascending=False) 
sp500_bam_top_5_currentprice = sp500_bam_top_currentprice.head(5)

In [460]:
sp500_bam_top_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
308,NYQ,MLM,"Martin Marietta Materials, Inc.","Martin Marietta Materials, Inc.",Basic Materials,Building Materials,347.69,21689563136,1.522400e+09,0.176,Raleigh,NC,United States,10000.0,"Martin Marietta Materials, Inc., a natural res...",0.000611
38,NYQ,LIN,Linde plc,Linde plc,Basic Materials,Specialty Chemicals,328.62,168435826688,1.055200e+10,0.115,Woking,NaN,United Kingdom,72438.0,Linde plc operates as an industrial gas and en...,0.004748
110,NYQ,APD,"Air Products and Chemicals, Inc","Air Products and Chemicals, Inc.",Basic Materials,Specialty Chemicals,304.40,67573145600,3.796600e+09,0.257,Allentown,PA,United States,19710.0,"Air Products and Chemicals, Inc. provides atmo...",0.001905
257,NYQ,ALB,Albemarle Corporation,Albemarle Corporation,Basic Materials,Specialty Chemicals,248.49,29111349248,2.123138e+09,1.519,Charlotte,NC,United States,6000.0,"Albemarle Corporation develops, manufactures, ...",0.000821
121,NYQ,SHW,Sherwin-Williams Company (The),The Sherwin-Williams Company,Basic Materials,Specialty Chemicals,245.31,64319299584,3.328400e+09,0.175,Cleveland,OH,United States,61000.0,"The Sherwin-Williams Company develops, manufac...",0.001813

In [461]:
sp500_bam_bottom_currentprice = sp500_bam.sort_values(by = "Currentprice", ascending=True) 
sp500_bam_bottom_5_currentprice = sp500_bam_bottom_currentprice.head(5)

In [462]:
sp500_bam_bottom_5_currentprice

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
114,NYQ,FCX,"Freeport-McMoRan, Inc.",Freeport-McMoRan Inc.,Basic Materials,Copper,45.41,66683224064,1.001400e+10,-0.178,Phoenix,AZ,United States,24700.0,Freeport-McMoRan Inc. engages in the mining of...,0.001880
354,NYQ,MOS,Mosaic Company (The),The Mosaic Company,Basic Materials,Agricultural Inputs,48.01,17783382016,5.575000e+09,0.918,Tampa,FL,United States,12525.0,"The Mosaic Company, through its subsidiaries, ...",0.000501
183,NYQ,NEM,Newmont Corporation,Newmont Corporation,Basic Materials,Gold,53.34,42535182336,4.039000e+09,-0.002,Denver,CO,United States,14400.0,Newmont Corporation engages in the production ...,0.001199
197,NYQ,DOW,Dow Inc.,Dow Inc.,Basic Materials,Chemicals,57.44,40423915520,9.958000e+09,-0.049,Midland,MI,United States,35700.0,Dow Inc. provides various materials science so...,0.001140
171,NYQ,CTVA,"Corteva, Inc.","Corteva, Inc.",Basic Materials,Agricultural Inputs,62.36,44555722752,3.574000e+09,0.171,Indianapolis,IN,United States,21000.0,"Corteva, Inc. operates in the agriculture busi...",0.001256

In [463]:
sp500_bam_top_ebitda = sp500_bam.sort_values(by = "Ebitda", ascending=False) 
sp500_bam_top_5_ebitda = sp500_bam_top_ebitda.head(5)

In [464]:
sp500_bam_top_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
175,NYQ,NUE,Nucor Corporation,Nucor Corporation,Basic Materials,Steel,153.47,43861573632,1.286827e+10,0.018,Charlotte,NC,United States,28800.0,Nucor Corporation manufactures and sells steel...,0.001237
38,NYQ,LIN,Linde plc,Linde plc,Basic Materials,Specialty Chemicals,328.62,168435826688,1.055200e+10,0.115,Woking,NaN,United Kingdom,72438.0,Linde plc operates as an industrial gas and en...,0.004748
114,NYQ,FCX,"Freeport-McMoRan, Inc.",Freeport-McMoRan Inc.,Basic Materials,Copper,45.41,66683224064,1.001400e+10,-0.178,Phoenix,AZ,United States,24700.0,Freeport-McMoRan Inc. engages in the mining of...,0.001880
197,NYQ,DOW,Dow Inc.,Dow Inc.,Basic Materials,Chemicals,57.44,40423915520,9.958000e+09,-0.049,Midland,MI,United States,35700.0,Dow Inc. provides various materials science so...,0.001140
248,NYQ,LYB,LyondellBasell Industries NV,LyondellBasell Industries N.V.,Basic Materials,Specialty Chemicals,92.30,30715963392,8.736000e+09,0.283,Houston,TX,United States,19100.0,LyondellBasell Industries N.V. operates as a c...,0.000866

In [465]:
sp500_bam_bottom_ebitda = sp500_bam.sort_values(by = "Ebitda", ascending=True) 
sp500_bam_bottom_5_ebitda = sp500_bam_bottom_ebitda.head(5)

In [466]:
sp500_bam_bottom_5_ebitda

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
377,NYQ,FMC,FMC Corporation,FMC Corporation,Basic Materials,Agricultural Inputs,128.20,16249478144,1.384200e+09,0.169,Philadelphia,PA,United States,6400.0,"FMC Corporation, an agricultural sciences comp...",0.000458
290,NYQ,VMC,Vulcan Materials Company (Holdi,Vulcan Materials Company,Basic Materials,Building Materials,178.89,23739596800,1.510800e+09,0.436,Birmingham,AL,United States,11912.0,"Vulcan Materials Company, together with its su...",0.000669
308,NYQ,MLM,"Martin Marietta Materials, Inc.","Martin Marietta Materials, Inc.",Basic Materials,Building Materials,347.69,21689563136,1.522400e+09,0.176,Raleigh,NC,United States,10000.0,"Martin Marietta Materials, Inc., a natural res...",0.000611
257,NYQ,ALB,Albemarle Corporation,Albemarle Corporation,Basic Materials,Specialty Chemicals,248.49,29111349248,2.123138e+09,1.519,Charlotte,NC,United States,6000.0,"Albemarle Corporation develops, manufactures, ...",0.000821
244,NYQ,PPG,"PPG Industries, Inc.","PPG Industries, Inc.",Basic Materials,Specialty Chemicals,131.00,31099529216,2.161000e+09,0.022,Pittsburgh,PA,United States,49300.0,"PPG Industries, Inc. manufactures and distribu...",0.000877

In [467]:
sp500_bam_top_revenuegrowth = sp500_bam.sort_values(by = "Revenuegrowth", ascending=False) 
sp500_bam_top_5_revenuegrowth = sp500_bam_top_revenuegrowth.head(5)

In [468]:
sp500_bam_top_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
257,NYQ,ALB,Albemarle Corporation,Albemarle Corporation,Basic Materials,Specialty Chemicals,248.49,29111349248,2.123138e+09,1.519,Charlotte,NC,United States,6000.0,"Albemarle Corporation develops, manufactures, ...",0.000821
354,NYQ,MOS,Mosaic Company (The),The Mosaic Company,Basic Materials,Agricultural Inputs,48.01,17783382016,5.575000e+09,0.918,Tampa,FL,United States,12525.0,"The Mosaic Company, through its subsidiaries, ...",0.000501
371,NYQ,CF,"CF Industries Holdings, Inc.","CF Industries Holdings, Inc.",Basic Materials,Agricultural Inputs,86.48,16966424576,6.448000e+09,0.704,Deerfield,IL,United States,2970.0,"CF Industries Holdings, Inc. manufactures and ...",0.000478
290,NYQ,VMC,Vulcan Materials Company (Holdi,Vulcan Materials Company,Basic Materials,Building Materials,178.89,23739596800,1.510800e+09,0.436,Birmingham,AL,United States,11912.0,"Vulcan Materials Company, together with its su...",0.000669
248,NYQ,LYB,LyondellBasell Industries NV,LyondellBasell Industries N.V.,Basic Materials,Specialty Chemicals,92.30,30715963392,8.736000e+09,0.283,Houston,TX,United States,19100.0,LyondellBasell Industries N.V. operates as a c...,0.000866

In [469]:
sp500_bam_bottom_revenuegrowth = sp500_bam.sort_values(by = "Revenuegrowth", ascending=True) 
sp500_bam_bottom_5_revenuegrowth = sp500_bam_bottom_revenuegrowth.head(5)

In [470]:
sp500_bam_bottom_5_revenuegrowth

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
114,NYQ,FCX,"Freeport-McMoRan, Inc.",Freeport-McMoRan Inc.,Basic Materials,Copper,45.41,66683224064,1.001400e+10,-0.178,Phoenix,AZ,United States,24700.0,Freeport-McMoRan Inc. engages in the mining of...,0.001880
197,NYQ,DOW,Dow Inc.,Dow Inc.,Basic Materials,Chemicals,57.44,40423915520,9.958000e+09,-0.049,Midland,MI,United States,35700.0,Dow Inc. provides various materials science so...,0.001140
451,NYQ,EMN,Eastman Chemical Company,Eastman Chemical Company,Basic Materials,Specialty Chemicals,89.82,10777501696,2.217000e+09,-0.004,Kingsport,TN,United States,14000.0,Eastman Chemical Company operates as a special...,0.000304
259,NYQ,IFF,International Flavors & Fragran,International Flavors & Fragrances Inc.,Basic Materials,Specialty Chemicals,112.36,28600901632,2.580000e+09,-0.003,New York,NY,United States,24000.0,"International Flavors & Fragrances Inc., toget...",0.000806
183,NYQ,NEM,Newmont Corporation,Newmont Corporation,Basic Materials,Gold,53.34,42535182336,4.039000e+09,-0.002,Denver,CO,United States,14400.0,Newmont Corporation engages in the production ...,0.001199